<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/initAdmin :: head"></div>

<!-- <body>
	Sidenav
	Sidenav
	<div th:replace="fragments/navAdmin :: slide-bar"></div>
	Main content
	<div class="main-content" id="panel">
		Topnav
		<div th:replace="fragments/navAdmin :: top-nav"></div>
		Header
		Header
		<div class="col-xl-12 order-xl-12">
			<div class="card">
				<div class="card-header">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Edit Account</h3>
						</div>

					</div>
				</div>
				<div class="card-body col-xl-12">
					<form th:object="${user}"
						th:action="@{/account/{id}/update.html(id=${user.id})}"
						method="POST">
						<div class="alert alert-danger"
							style="text-align: left; color: red; font-weight: bold; font-size: 13px;"
							th:each="err: ${#fields.errors('*')}" th:text="${err}"></div>
						<input type="hidden" name="user_id" id="user_id" th:value="*{id}" />
						<div class="col-lg-12">
							<div class="form-group col-lg-12">
								<label>Họ <font color="red">*</font></label>
								<div>
									<input class="form-control" type="text"
										id="form-field-firstname" th:field="*{firstName}" />
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Tên đệm <font color="red">*</font></label>
								<div>
									<input class="form-control" type="text"
										id="form-field-middlename" th:field="*{middleName}" />
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Tên <font color="red">*</font></label>
								<div>
									<input class="form-control" type="text"
										id="form-field-lastname" th:field="*{lastName}" />
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Giới tính</label>
								<div>
									<select class="form-control" id="form-field-gender"
										th:field="*{gender}">
										<option value="1">Nam</option>
										<option value="0">Nữ</option>
									</select>
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Email <font color="red">*</font></label>
								<div>
									<input class="form-control" type="text" id="form-field-email"
										th:field="*{email}" />
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Tên đăng nhập <font color="red">*</font></label>
								<div>
									<input class="form-control" type="text"
										id="form-field-username" th:field="*{userName}" />
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Xác minh tài khoản</label>
								<div>
									<select class="form-control" id="form-field-verify"
										th:field="*{isVerified}">
										<option value="1">Đã xác minh</option>
										<option value="0">Chưa xác minh</option>
									</select>
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Trạng thái</label>
								<div>
									<select class="form-control" id="form-field-status"
										th:field="*{status}">
										<option value="0">Tạm khóa</option>
										<option value="1">Hoạt động</option>
									</select>
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Loại tài khoản</label>
								<div>
									<select class="form-control" id="form-field-userType"
										th:field="*{userType}">
										<option value="0">Admin</option>
										<option value="1">Nhân viên</option>
										<option value="2">Khách hàng</option>
										<option value="3">Nhân viên giao hàng</option>
									</select>
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Phân quyền Role</label>
								<div>
									<label th:each="role : ${allRoles}"
										th:title="${role.description}"> <input
										th:field="*{roles}" type="checkbox" th:value="${role.id}"
										style="position: inherit; opacity: 0.5;" /> <span class="lbl"
										th:text="${role.name}"></span>
									</label>
								</div>
							</div>
							<div class="row  text-right">
								<div class="col-lg-12 col-5">
									<div class="form-group">
										<a
											th:href="@{/account/list.html?page={pageIdx}(pageIdx=${session.pageIndex})}"
											class="btn btn-sm btn-neutral">Bỏ qua</a>
										<button type="submit" class="btn btn-sm btn-neutral">Lưu</button>

									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/initAdmin :: commonScript"></div>
</body> -->
<body>
	<!-- Sidenav -->
	<!-- Sidenav -->
	<div th:replace="fragments/navAdmin :: slide-bar"></div>
	<!-- Main content -->
	<div class="main-content" id="panel">
		<!-- Topnav -->
		<div th:replace="fragments/navAdmin :: top-nav"></div>
		<!-- Header -->
		<!-- Header -->
		<div class="col-xl-12 order-xl-12">
			<div class="card">
				<div class="card-header">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0">Edit Account</h3>
						</div>

					</div>
				</div>
				<div class="card-body col-xl-12">
					<form th:object="${user}"
						th:action="@{/account/{id}/update.html(id=${user.id})}"
						method="POST">
						<div class="alert alert-danger"
							style="text-align: left; color: red; font-weight: bold; font-size: 13px;"
							th:each="err: ${#fields.errors('*')}" th:text="${err}"></div>
						<input type="hidden" name="user_id" id="user_id" th:value="*{id}" />
						<div class="col-lg-12">
							<div class="form-group col-lg-12">
								<label>Họ <font color="red">*</font></label>
								<div>
									<input class="form-control" type="text"
										id="form-field-firstname" th:field="*{firstName}" />
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Tên đệm <font color="red">*</font></label>
								<div>
									<input class="form-control" type="text"
										id="form-field-middlename" th:field="*{middleName}" />
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Tên <font color="red">*</font></label>
								<div>
									<input class="form-control" type="text"
										id="form-field-lastname" th:field="*{lastName}" />
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Giới tính</label>
								<div>
									<select class="form-control" id="form-field-gender"
										th:field="*{gender}">
										<option value="1">Nam</option>
										<option value="0">Nữ</option>
									</select>
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Email <font color="red">*</font></label>
								<div>
									<input class="form-control" type="text" id="form-field-email"
										th:field="*{email}" />
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Tên đăng nhập <font color="red">*</font></label>
								<div>
									<input class="form-control" type="text"
										id="form-field-username" th:field="*{userName}" />
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Xác minh tài khoản</label>
								<div>
									<select class="form-control" id="form-field-verify"
										th:field="*{isVerified}">
										<option value="1">Đã xác minh</option>
										<option value="0">Chưa xác minh</option>
									</select>
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Trạng thái</label>
								<div>
									<select class="form-control" id="form-field-status"
										th:field="*{status}">
										<option value="0">Tạm khóa</option>
										<option value="1">Hoạt động</option>
									</select>
								</div>
							</div>
							<div class="form-group col-lg-12">
								<label>Loại tài khoản</label>
								<div>
									<select class="form-control" id="form-field-userType"
										th:field="*{userType}">
										<option value="0">Admin</option>
										<option value="1">Nhân viên</option>
										<option value="2">Khách hàng</option>
										<option value="3">Nhân viên giao hàng</option>
									</select>
								</div>
							</div>
							<!-- <div class="form-group col-lg-12">
								<label>Phân quyền Role</label>
								<div>
									<label th:each="role : ${allRoles}"
										th:title="${role.description}"> <input
										th:field="*{roles}" type="checkbox" th:value="${role.id}"
										style="position: inherit; opacity: 0.5;" /> <span class="lbl"
										th:text="${role.name}"></span>
									</label>
								</div>
							</div> -->
							<div class="row  text-right">
								<div class="col-lg-12 col-5">
									<div class="form-group">
										<a
											th:href="@{/account/list.html?page={pageIdx}(pageIdx=${session.pageIndex})}"
											class="btn btn-sm btn-neutral">Bỏ qua</a>
										<button type="submit" class="btn btn-sm btn-neutral">Lưu</button>

									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/initAdmin :: commonScript"></div>
</body>
</html>