<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/initAdmin :: head"></div>
<!-- <style>
.text-table-header {
	text-align: left;
	font-family: "Segoe UI";
	vertical-align: inherit;
}

.text-table-body {
	text-align: left;
	vertical-align: inherit;
	font-family: "Segoe UI";
	font-size: 15px;
}

.modal-dialog {
	width: 100% !important;
}
</style> -->
<link rel="stylesheet" type="text/css" th:href="@{/static/css/listCancel.css}" />

<body>
	<!-- Sidenav -->
	<!-- Sidenav -->
	<div th:replace="fragments/navAdmin :: slide-bar"></div>
	<!-- Main content -->
	<div class="main-content" id="panel">
		<!-- Topnav -->
		<div th:replace="fragments/navAdmin :: top-nav"></div>
		<!-- Header -->
		<!-- Header -->

		<!-- Page content -->
		<div class="container-fluid mt--6" style="margin-top: 25px !important;">

			<!-- Dark table -->
			<div class="row">
				<div class="col">
					<div class="card bg-default shadow">
						<div class="card-header bg-transparent border-0">
							<h3 class="text-white mb-0">Yêu cầu hủy Hóa đơn</h3>
							<hr class="my-4" />
							<div class="col-lg-12 col-5">
								<form role="form" th:action="@{/bill/listCancel.html}" method="POST">
									<div class="row">
										<div class="input-daterange datepicker row align-items-center">
											<div class="col">
												<div class="form-group">
													<label class="text-white">Từ ngày</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																	class="ni ni-calendar-grid-58"></i></span>
														</div>
														<input class="form-control" placeholder="Start date" type="text"
															value="06/18/2020" name="from_date" id="from_date"
															th:value="${from_date}">
													</div>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<label class="text-white">Đến ngày</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																	class="ni ni-calendar-grid-58"></i></span>
														</div>
														<input class="form-control" placeholder="End date" type="text"
															value="06/22/2020" name="to_date" id="to_date"
															th:value="${to_date}">
													</div>
												</div>
											</div>
										</div>
										<!-- <div class="col-lg-2">
											<label class="text-white">Trạng thái</label>
											<div>
												<select class=" form-control" name="status"
													th:value="${status}">
													<option value="0"
														th:attr="selected =${status}== '0' ? 'selected'">Tất
														cả</option>
													<option value="1"
														th:attr="selected =${status}== '1' ? 'selected'">Đã
														thanh toán</option>
													<option value="2"
														th:attr="selected =${status}== '2' ? 'selected'">Chưa
														thanh toán</option>
												</select>
											</div>
										</div> -->
										<div class="col-lg-2">
											<label class="text-white">Mã hóa đơn</label>
											<div>
												<input type="text" class="form-control" name="code" th:value="${code}"
													placeholder="Tìm kiếm" />
											</div>
										</div>
										<div class="col-sm-2">
											<label>&nbsp;</label>
											<div>
												<button type="submit" id="btnSearch" class="btn btn-primary">Tìm
													kiếm</button>
											</div>
										</div>
									</div>
								</form>
							</div>
							<input type="hidden" name="bill_list_ss" th:value="${bill_list_ss}" />
							<hr class="my-4" />
							<div class="col-lg-12 col-5 text-right">
								<!-- <a th:href="@{/product/add.html}"
									sec:authorize="hasAnyAuthority('Administrators','Staffs')"
									class="btn btn-sm btn-primary" th:utext="#{lable.new}"></a>  -->
								<a th:href="@{/bill/listCancel.html}" class="btn btn-sm btn-neutral">Làm
									mới</a>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table align-items-center table-dark table-flush">
								<thead class="thead-dark">
									<tr>
										<th class="text-table-header">STT</th>
										<th class="text-table-header">Mã hóa đơn</th>
										<th class="text-table-header">Tên KH</th>
										<!--                                    <th class="text-table-header">Email</th>-->
										<th class="text-table-header">Email</th>
										<th class="text-table-header">Số điện thoại</th>
										<th class="text-table-header">Địa chỉ</th>
										<th class="text-table-header">Lý do</th>
										<th class="text-table-header">Trạng thái</th>
										<th class="text-table-header">#</th>
										<th class="text-table-header">#</th>
									</tr>
								</thead>
								<tbody class="list" th:if="${page} != null">
									<tr th:each="eachRow, iterStat : ${page}">
										<td class="text-table-body" th:text="${iterStat.count}"></td>
										<td class="text-table-body" th:text="${eachRow.code}"></td>
										<td class="text-table-body" th:text="${eachRow.name}"></td>
										<!--                                    <td class="text-table-body" th:text="${eachRow.email}"></td>-->
										<td class="text-table-body" th:text="${eachRow.email}"></td>
										<td class="text-table-body" th:text="${eachRow.mobile}"></td>
										<td class="text-table-body" th:text="${eachRow.address}"></td>
										<td class="text-table-body" th:text="${eachRow.reason}"></td>
										<td class="text-table-body" th:if="${eachRow.status == 0}" th:text="''"></td>
										<td class="text-table-body" th:if="${eachRow.status == 1}"><button
												class="btn btn-danger btn-circle">Đã hủy</button></td>
										<td class="text-table-body" th:if="${eachRow.status == 2}"><button
												class="btn btn-info btn-circle">Từ chối hủy</button></td>
										<td class="text-table-body"><a
												th:if="${eachRow.status == 0 || eachRow.status == null}"
												th:onclick="'acceptReject(\'' + ${eachRow.code} + '\',\'' + ${eachRow.id} + '\')'"
												data-toggle="modal" data-target="#productModal"><button
													class="btn btn-danger btn-circle">Xác nhận</button></a></td>
										<td class="text-table-body"><a
												th:if="${eachRow.status == 0 || eachRow.status == null}"
												th:onclick="'cancelReject(\'' + ${eachRow.code} + '\',\'' + ${eachRow.id} + '\')'"
												data-toggle="modal" data-target="#productModal"><button
													class="btn btn-info btn-circle">Hủy</button></a></td>
									</tr>

								</tbody>
							</table>
						</div>
						<!-- Card footer -->
						<div class="card-footer py-4">
							<div th:replace="fragments/panigatorAdmin :: content(page = ${page})">
							</div>
						</div>
					</div>
				</div>
				<!-- Footer -->
				<!-- <div th:replace="fragments/navAdmin :: footer"></div> -->
			</div>
		</div>
	</div>

	<div th:replace="fragments/navAdmin :: modal-delete"></div>


	<!-- .modal-content -->


	<!-- Argon Scripts -->
	<!-- Core -->

	<!-- Optional JS -->
	<!-- 	<script th:src="@{/assets/vendor/chart.js/dist/Chart.min.js}"></script>
	<script th:src="@{/assets/vendor/chart.js/dist/Chart.extension.js}"></script> -->
	<!-- Argon JS -->
	<div th:replace="fragments/initAdmin :: commonScript"></div>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var currUrl = /*[[@{/}]]*/ "";
		/*]]>*/
	</script>

	<script type="text/javascript">
		/*  $('#timePicker').daterangepicker({
		     "timePicker": true,
		     "timePicker24Hour": true,
		     "timePickerIncrement": 1,
		     "format": 'DD/MM/YYYY HH:mm',
		 }, function (start, end, label) {
		     $('#from_date').val(start.format('DD/MM/YYYY HH:mm'));
		     $('#to_date').val(end.format('DD/MM/YYYY HH:mm'));
		 }); */
	</script>

	<script type="text/javascript">
		/* $(document).ready(function () {
		    $('#table-question').DataTable({
		        "order": [0, 'asc'],
		        "aoColumnDefs": [{
		            'bSortable': false,
		            'aTargets': [0]
		        }],
		        "paging": false,
		        "info": false,
		        "searching": false,
		        "language": {
		            "emptyTable": "Danh sách rỗng"
		        }
		    });
		}); */
	</script>

	<script type="text/javascript">
		/*     function acceptPayment(code, id) {
		 BootstrapDialog.show({
		 title: 'Xác Nhận Thanh Toán',
		 message: 'Bạn có muốn xác nhận Thanh toán hóa đơn có mã là ' + code + ' không ? Bấm Xác nhận để xác nhận.',
		 buttons: [{
		 label: 'Bỏ qua',
		 action: function (dialogItself) {
		 dialogItself.close();
		 }
		 }, {
		 label: 'Xác nhận',
		 cssClass: 'btn-primary',
		 action: function (dialogItself) {
		 window.location.href = currUrl + 'bill/accept/' + id + '/payment.html';
		 }
		 }]
		 });
		 } */

		function formatNumberString(numberStr) {
			if (typeof numberStr === 'number') {
				numberStr = numberStr.toString();
			}
			return numberStr.replace(/(?=(?:\d{3})+$)(?!^)/g, ',');
		}
	</script>

	<script type="text/javascript">
		function acceptReject(code, key) {
			var id = code;

			$('#modal-title-notification').text('Xác Nhận Yêu Cầu Hủy')

			$('#contentDelete').text(
				'Bạn có muốn xác nhận yêu cầu hủy hóa đơn có mã là  ' +
				code + ' không ? Bấm Xác nhận để xác nhận.');
			$('#delete').text('Xác nhận')
			$('#delete')
				.click(
					function () {
						$
							.ajax({
								url: window.location.origin +
									currUrl + '/reject/' +
									key + "/" + id +
									'/accept.html',
								method: 'POST',
								success: function () {
									alert('Hủy hóa đơn thành công!'),
										window.location.href = window.location.origin +
										currUrl +
										'bill/listCancel.html';
								}
							});
					});
		}

		function cancelReject(code, key) {
			var id = code;

			$('#modal-title-notification').text('Xác Nhận Yêu Cầu Hủy')

			$('#contentDelete').text(
				'Bạn có muốn từ chối yêu cầu hủy hóa đơn có mã là  ' + code +
				' không ? Bấm Xác nhận để xác nhận.');
			$('#delete').text('Xác nhận')
			$('#delete')
				.click(
					function () {
						$
							.ajax({
								url: window.location.origin +
									currUrl + '/reject/' +
									key + "/" + id +
									'/cancel.html',
								method: 'POST',
								success: function () {
									alert('Từ chối hủy hóa đơn thành công!'),
										window.location.href = window.location.origin +
										currUrl +
										'bill/listCancel.html';
								}
							});
					});
		}
	</script>
</body>

</html>