<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/initAdmin :: head"></div>
<style>
.text-table-header {
	text-align: left;
	font-family: "Segoe UI";
	vertical-align: inherit;
}

.text-table-body {
	text-align: left;
	vertical-align: inherit;
	font-family: "Segoe UI";
	font-size: 15px;
}

.modal-dialog {
	width: 100% !important;
}
</style>
<body>
	<!-- Sidenav -->
	<!-- Sidenav -->
	<div th:replace="fragments/navAdmin :: slide-bar"></div>
	<!-- Main content -->
	<div class="main-content" id="panel">
		<!-- Topnav -->
		<div th:replace="fragments/navAdmin :: top-nav"></div>
		<!-- Header -->
		<!-- Header -->

		<!-- Page content -->
		<div class="container-fluid mt--6"
			style="margin-top: 25px !important;">

			<!-- Dark table -->
			<div class="row">
				<div class="col">
					<div class="card bg-default shadow">
						<div class="card-header bg-transparent border-0">
							<h3 class="text-white mb-0">Bill</h3>
							<hr class="my-4" />
							<div class="col-lg-12 col-5">
								<form role="form" th:action="@{/bill/list.html}" method="POST">
									<div class="row">
										<div class="input-daterange datepicker row align-items-center">
											<div class="col">
												<div class="form-group">
													<label class="text-white" th:utext="#{lable.sincedate}"></label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="ni ni-calendar-grid-58"></i></span>
														</div>
														<input class="form-control" placeholder="Start date"
															type="text" value="06/18/2020" name="from_date"
															id="from_date" th:value="${from_date}">
													</div>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<label class="text-white" th:utext="#{lable.todate}"></label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="ni ni-calendar-grid-58"></i></span>
														</div>
														<input class="form-control" placeholder="End date"
															type="text" value="06/22/2020" name="to_date"
															id="to_date" th:value="${to_date}">
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-2">
											<label class="text-white">Trạng thái</label>
											<div>
												<select class=" form-control" name="status"
													th:value="${status}">
													<option value="0"
														th:attr="selected =${status}== '0' ? 'selected'">Tất
														cả</option>
													<option value="1"
														th:attr="selected =${status}== '1' ? 'selected'">Đã
														thanh toán</option>
													<option value="2"
														th:attr="selected =${status}== '2' ? 'selected'">Chưa
														thanh toán</option>
												</select>
											</div>
										</div>
										<div class="col-lg-2">
											<label class="text-white">Mã hóa đơn</label>
											<div>
												<input type="text" class="form-control" name="code"
													th:value="${code}" />
											</div>
										</div>
										<div class="col-sm-2">
											<label>&nbsp;</label>
											<div>
												<button type="submit" id="btnSearch" class="btn btn-primary"
													th:utext="#{lable.search}"></button>
											</div>
										</div>
									</div>
								</form>
							</div>
							<input type="hidden" name="category_list_ss"
								th:value="${category_list_ss}" />
							<hr class="my-4" />
							<div class="col-lg-12 col-5 text-right">
								<!-- <a th:href="@{/product/add.html}"
									sec:authorize="hasAnyAuthority('Administrators','Staffs')"
									class="btn btn-sm btn-primary" th:utext="#{lable.new}"></a>  -->
								<a th:href="@{/bill/list.html}" class="btn btn-sm btn-neutral"
									th:utext="#{lable.refresh}"></a>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table align-items-center table-dark table-flush">
								<thead class="thead-dark">
									<tr>
										<th class="text-table-header">STT</th>
										<th class="text-table-header">Tên KH</th>
										<!--                                    <th class="text-table-header">Email</th>-->
										<th class="text-table-header">Mã hóa đơn</th>
										<th class="text-table-header">Thanh toán</th>
										<th class="text-table-header">Tổng tiền</th>
										<th class="text-table-header">Trạng thái TToán</th>
										<th class="text-table-header">Trạng thái HĐ</th>
										<th class="text-table-header text-center">#</th>
										<th class="text-table-header text-center">#</th>
										<th class="text-table-header text-center">#</th>
									</tr>
								</thead>
								<tbody class="list" th:if="${page} != null">
									<tr th:each="eachRow, iterStat : ${page}">
										<td class="text-table-body" th:text="${iterStat.count}"></td>
										<td class="text-table-body" th:text="${eachRow.name}"></td>
										<!--                                    <td class="text-table-body" th:text="${eachRow.email}"></td>-->
										<td class="text-table-body" th:text="${eachRow.code}"></td>
										<td class="text-table-body"><span
											th:if="${eachRow.payment == 0}">Thanh toán trực tiếp</span> <span
											th:if="${eachRow.payment == 1}">Thanh toán online</span></td>
										<td class="text-table-body"
											th:text="${#numbers.formatDecimal(eachRow.total, 0, 'COMMA', 0,'POINT')}"></td>
										<td class="text-table-body" style="text-align: center;">
											<button class="btn btn-success"
												th:if="${eachRow.status == 1}">Đã Thanh Toán</button>
											<button class="btn btn-warning"
												th:if="${eachRow.status == 2}">Chưa Thanh toán</button>
										</td>
										<td class="text-table-body" style="text-align: center;"
											th:switch="${eachRow.typeStatus}">
											<button class="btn btn-success" th:case="'0'">Đã
												nhận</button>
											<button class="btn btn-warning" th:case="'1'">Đã hủy</button>
											<button class="btn btn-error" th:case="'2'">Boom
												hàng</button>
											<button class="btn btn-success" th:case="'3'">Đang
												giao hàng</button>
											<button class="btn btn-success" th:case="'4'">Đang
												đóng gói</button>
											<button class="btn btn-success" th:case="'5'">Đang
												xác nhận</button>
										</td>
										<td class="text-table-body"><a
											th:onclick="'acceptPayment(\'' + ${eachRow.code} + '\',\'' + ${eachRow.id} + '\')'"
											data-toggle="modal" data-target="#productModal"
											th:if="${eachRow.status == 2} and ${eachRow.typeStatus} != 1 and ${eachRow.typeStatus} != 2">
												<button class="btn btn-info btn-circle">
													<i class="fa fa-check"></i>
												</button>
										</a> <label th:if="${eachRow.status} == 1">&nbsp;</label></td>
										<td>
											<button type="button" class="btn btn-info btn-circle"
												th:onclick="'updateStatusType(\'' + ${eachRow.id} + '\')'"
												data-toggle="modal" data-target="#updateStatusPayment"
												title="Cập nhật trạng thái đơn hàng">
												<i class="fa fa-edit"></i>
											</button>
										</td>
										<td>
											<button type="button"
												th:onclick="'billDetail(\'' + ${eachRow.id} + '\')'"
												class="btn btn-default btn-circle" data-toggle="modal"
												data-target="#billModal" title="Hóa đơn chi tiết">
												<i class="fa fa-eye"></i>
											</button>
										</td>

									</tr>

								</tbody>
							</table>
						</div>
						<!-- Card footer -->
						<div class="card-footer py-4">
							<div
								th:replace="fragments/panigatorAdmin :: content(page = ${page})">
							</div>
						</div>
					</div>
				</div>
				<!-- Footer -->
				<!-- <div th:replace="fragments/navAdmin :: footer"></div> -->
			</div>
		</div>
	</div>


	<!-- <div class="modal fade" id="billModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header" style="height: 50px;">
					<label>Chi tiết hóa đơn</label>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="padding-top: 0px !important;">
					<div class="modal-product clearfix">
						<div class="product-info">
							<div class="row">
								<div class="col-lg-6 col-sm-6" style="margin-top: 10px;">
									<h4>Thông tin sản phẩm</h4>
								</div>
								<div class="col-lg-6 col-sm-6" style="margin-top: 10px;">
									<h4>Thông tin hóa đơn</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-sm-6" style="margin-top: 10px;"
									id="leftDetail"></div>
								<div class="col-lg-6 col-sm-6" style="margin-top: 10px;">
									<div class="col-lg-12"
										style="margin-top: 10px; padding: 0px !important;">
										<span style="display: inline-flex; width: 100%;">Tên
											KH:&nbsp;
											<p id="nameCustomer"></p>
										</span> <span style="display: inline-flex; width: 100%;">Mã
											HĐ:&nbsp;
											<p id="codeBill"></p>
										</span> <span style="display: inline-flex; width: 100%;">Email:&nbsp;
											<p id="emailCustomer"></p>
										</span> <span style="display: inline-flex; width: 100%;">SĐT:&nbsp;
											<p id="mobileCustomer"></p>
										</span> <span style="display: inline-flex; width: 100%;">Địa
											chỉ:&nbsp;
											<p id="addressCustomer"></p>
										</span> <span style="display: inline-flex; width: 100%;">Ngày
											đặt hàng:&nbsp;
											<p id="createdBill"></p>
										</span> <span style="display: inline-flex; width: 100%;">PTTT:&nbsp;
											<p id="paymentBill"></p>
										</span> <span style="display: inline-flex; width: 100%;">Trang
											thái:&nbsp;
											<p id="statusBill"></p>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					.product-info
				</div>
				.modal-product
			</div>
			.modal-body
		</div>
	</div> -->
	<!-- START QUICKVIEW PRODUCT -->
	<div id="quickview-wrapper" th:fragment="quickview">
		<!-- Modal -->
		<div class="modal fade" id="billModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Chi tiết hóa đơn</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="modal-product clearfix">
							<div class="row">
								<div class="col-sx-12 col-sm-6 col-lg-6 col-md-6 col-xl-6"
									style="margin-top: 10px;">
									<h4>Thông tin sản phẩm</h4>
								</div>
								<div class="col-sx-12 col-sm-6 col-lg-6 col-md-6 col-xl-6"
									style="margin-top: 10px;">
									<h4>Thông tin hóa đơn</h4>
								</div>
							</div>
							<div class="row">
								<!-- .product-images -->
								<div id="leftDetail"
									class="product-info col-sx-12 col-sm-6 col-lg-6 col-md-6 col-xl-6">
								</div>
								<div class="col-sx-12 col-sm-6 col-lg-6 col-md-6 col-xl-6">
									<div class="col-lg-12"
										style="margin-top: 10px; padding: 0px !important;">
										<span style="display: inline-flex; width: 100%;">Tên
											KH:&nbsp;
											<p id="nameCustomer"></p>
										</span> <span style="display: inline-flex; width: 100%;">Mã
											HĐ:&nbsp;
											<p id="codeBill"></p>
										</span> <span style="display: inline-flex; width: 100%;">Email:&nbsp;
											<p id="emailCustomer"></p>
										</span> <span style="display: inline-flex; width: 100%;">SĐT:&nbsp;
											<p id="mobileCustomer"></p>
										</span> <span style="display: inline-flex; width: 100%;">Địa
											chỉ:&nbsp;
											<p id="addressCustomer"></p>
										</span> <span style="display: inline-flex; width: 100%;">Ngày
											đặt hàng:&nbsp;
											<p id="createdBill"></p>
										</span> <span style="display: inline-flex; width: 100%;">PTTT:&nbsp;
											<p id="paymentBill"></p>
										</span> <span style="display: inline-flex; width: 100%;">Trang
											thái:&nbsp;
											<p id="statusBill"></p>
										</span>
									</div>
								</div>
								<!-- .product-info -->
							</div>
							<!-- .modal-product -->
						</div>
					</div>
					<!-- .modal-body -->
				</div>
				<!-- .modal-content -->
			</div>
			<!-- .modal-dialog -->
		</div>
		<!-- END Modal -->
	</div>
	<!-- END QUICKVIEW PRODUCT -->

	<!-- .modal-content -->
	<div th:replace="fragments/navAdmin :: modal-delete"></div>
	<!-- Modal -->
	<div id="updateStatusPayment" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Cập nhật trạng thái đơn hàng</h4>

					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-6">
							<input type="hidden" id="idBill" />
							<div class="form-group">
								<div>Mã hóa đơn</div>
								<input class="form-control" id="code" type="text" readonly
									style="background: white;" />
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<div>Tên KH</div>
								<input class="form-control" id="nameCus" type="text" readonly
									style="background: white;" />
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<div>SĐT</div>
								<input class="form-control" id="phoneCus" type="text" readonly
									style="background: white;" />
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<div>Email</div>
								<input class="form-control" id="emailCus" type="text" readonly
									style="background: white;" />
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<div>Địa chỉ</div>
								<input class="form-control" id="addCus" type="text" readonly
									style="background: white;" />
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<div>Trạng thái</div>
								<select class="form-control" id="typeStatus">
									<option value="0">Đã nhận</option>
									<option value="1">Đã hủy</option>
									<option value="2">KH không nhận</option>
									<option value="3">Đang giao hàng</option>
									<option value="4">Đang đóng gói</option>
									<option value="5">Đang xác nhận</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close
					</button>
					<button type="button" class="btn btn-primary" id="updateStatus">Cập
						nhật</button>
				</div>
			</div>

		</div>
	</div>
	<!-- Argon Scripts -->
	<!-- Core -->

	<!-- Optional JS -->
	<!-- 	<script th:src="@{/assets/vendor/chart.js/dist/Chart.min.js}"></script>
	<script th:src="@{/assets/vendor/chart.js/dist/Chart.extension.js}"></script> -->
	<!-- Argon JS -->
	<div th:replace="fragments/initAdmin :: commonScript"></div>

	<script th:inline="javascript">
    /*<![CDATA[*/
    var currUrl = /*[[@{/}]]*/ "";
    /*]]>*/
</script>

	<script type="text/javascript">
   /*  $('#timePicker').daterangepicker({
        "timePicker": true,
        "timePicker24Hour": true,
        "timePickerIncrement": 1,
        "format": 'DD/MM/YYYY HH:mm',
    }, function (start, end, label) {
        $('#from_date').val(start.format('DD/MM/YYYY HH:mm'));
        $('#to_date').val(end.format('DD/MM/YYYY HH:mm'));
    }); */
</script>

	<script type="text/javascript">
    /* $(document).ready(function () {
        $('#table-question').DataTable({
            "order": [0, 'asc'],
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [0]
            }],
            "paging": false,
            "info": false,
            "searching": false,
            "language": {
                "emptyTable": "Danh sách rỗng"
            }
        });
    }); */
</script>

	<script type="text/javascript">
/*     function acceptPayment(code, id) {
        BootstrapDialog.show({
            title: 'Xác Nhận Thanh Toán',
            message: 'Bạn có muốn xác nhận Thanh toán hóa đơn có mã là ' + code + ' không ? Bấm Xác nhận để xác nhận.',
            buttons: [{
                label: 'Bỏ qua',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }, {
                label: 'Xác nhận',
                cssClass: 'btn-primary',
                action: function (dialogItself) {
                    window.location.href = currUrl + 'bill/accept/' + id + '/payment.html';
                }
            }]
        });
    } */

    function updateStatusType(id) {
        $.ajax({
            url: currUrl + 'bill/getOne/list.html',
            method: 'GET',
            data: {'id': id},
            contentType: 'application/x-www-form-urlencoded',
            success: function (response) {
                var data = JSON.parse(response);
                $('#idBill').val(data.id);
                $('#code').val(data.code);
                $('#nameCus').val(data.name);
                $('#phoneCus').val(data.mobile);
                $('#emailCus').val(data.email);
                $('#addCus').val(data.address);
                $('#typeStatus').val(data.typeStatus).trigger('change');
            }
        });
    }

    $('#updateStatus').on('click', function () {
        var id = $('#idBill').val();
        var type = $('#typeStatus').val();
        $.ajax({
            url: currUrl + 'bill/status/update.html',
            method: 'POST',
            data: {'id': id, 'type': type},
            contentType: 'application/x-www-form-urlencoded',
            success: function (response) {
                window.location.reload();
            }
        });
    });

    function formatNumberString(numberStr) {
        if (typeof numberStr === 'number') {
            numberStr = numberStr.toString();
        }
        return numberStr.replace(/(?=(?:\d{3})+$)(?!^)/g, ',');
    }

    function billDetail(id) {
        $.ajax({
            url: currUrl + 'bill/billDetail',
            method: 'GET',
            data: {'id': id},
            contentType: 'application/x-www-form-urlencoded',
            success: function (response) {
                var data = JSON.parse(response);
                var html = '';
                if (data != null) {
                    for (var each of data) {
                        html += ` <div class="col-lg-12" style="margin-top: 10px;padding: 0px!important;">
                                      <img class="col-lg-5" src="${each.mainImg}" style="padding: 0px!important;"/>
                                      <br/>
                                       <div class="col-lg-12">
                                             <span style="display:inline-flex;width: 100%;">Tên SP:&nbsp;<p>${each.nameProduct}</p></span>
                                             <span style="display:inline-flex;width: 100%;">Giá SP:&nbsp;<p>${each.priceProduct}</p></span>
                                             <span style="display:inline-flex;width: 100%;" id="salce">Giảm giá:&nbsp;<p>${each.priceSaleProduct}</p></span>
                                             <span style="display:inline-flex;width: 100%;">Số lượng:&nbsp;<p>${each.quantity}</p></span>
                                       </div>
                                   </div>`
                    }
                    $('#leftDetail').html(html);
                    $('#nameCustomer').text(data[0].nameBill);
                    $('#emailCustomer').text(data[0].emailBill);
                    $('#addressCustomer').text(data[0].addressBill);
                    $('#codeBill').text(data[0].codeBill);
                    $('#mobileCustomer').text(data[0].mobileBill);
                    $('#createdBill').text(data[0].createdBill);
                    if (data[0].statusBill == 1) {
                        $('#statusBill').text('Đã thanh toán');
                        $('#statusBill').css({'color': 'green', 'font-weight': 'bold'});
                    }
                    if (data[0].statusBill == 2) {
                        $('#statusBill').text('Chưa thanh toán');
                        $('#statusBill').css({'color': '#ff9800', 'font-weight': 'bold'});
                    }
                    if (data[0].paymentBill == 0) {
                        $('#paymentBill').text('Thanh toán trực tiếp');
                        $('#paymentBill').css({'font-weight': 'bold'});
                    }
                    if (data[0].paymentBill == 1) {
                        $('#paymentBill').text('Thanh toán online');
                        $('#paymentBill').css({'font-weight': 'bold'});
                    }
                }
            }
        });
    }

</script>
	<script type="text/javascript">
		function acceptPayment(name, key) {
			var id = key;

			$('#modal-title-notification').text('Xác Nhận Thanh Toán')

			$('#contentDelete').text(
					'Bạn có muốn xác nhận Thanh toán hóa đơn có mã là  ' + key + ' - ' + name
							+ ' không ? Bấm Xác nhận để xác nhận.');
			$('#delete').text('Xác nhận')
			$('#delete').click(
					function() {
						$.ajax({
							url : window.location.origin + currUrl
									+ 'bill/accept/' + id + '/payment.html',
							method : 'GET',
							success : function() {
								window.location.href = window.location.origin
										+ currUrl + 'bill/list.html';
							}
						});
					});
		}
	</script>
</body>

</html>