<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/initAdmin :: head"></div>

<body>
	<!-- Sidenav -->
	<!-- Sidenav -->
	<div th:replace="fragments/navAdmin :: slide-bar"></div>
	<!-- Main content -->
	<div class="main-content" id="panel">
		<!-- Topnav -->
		<div th:replace="fragments/navAdmin :: top-nav"></div>
		<!-- Header -->
		<!-- Header -->

		<!-- Page content -->
		<div class="container-fluid mt--6"
			style="margin-top: 25px !important;">

			<!-- Dark table -->
			<div class="row">
				<div class="col">
					<div class="card bg-default shadow">
						<div class="card-header bg-transparent border-0">
							<h3 class="text-white mb-0" >Danh sách sản phẩm</h3>
							<hr class="my-4" />
							<div class="col-lg-12 col-5">
								<form role="form" th:action="@{/product/list.html}"
									method="POST">
									<div class="row">
										<div class="input-daterange datepicker row align-items-center">
											<div class="col">
												<div class="form-group">
													<label class="text-white" >Từ ngày</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="ni ni-calendar-grid-58"></i></span>
														</div>
														<input class="form-control" placeholder="Start date"
															type="text" value="06/18/2020" name="from_date"
															id="from_date" th:value="${from_date}">
													</div>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<label class="text-white" >Đến ngày</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="ni ni-calendar-grid-58"></i></span>
														</div>
														<input class="form-control" placeholder="End date"
															type="text" value="06/22/2020" name="to_date"
															id="to_date" th:value="${to_date}">
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-3">
											<label class="text-white">Tên sản phẩm</label>
											<div>
												<input type="text" placeholder="" name="name"
													id="name" class="form-control" th:value="${name}"/>
											</div>
										</div>
										<div class="col-sm-2">
											<label>&nbsp;</label>
											<div>
												<button type="submit" id="btnSearch" class="btn btn-primary">Tìm kiếm</button>
											</div>
										</div>
									</div>
								</form>
							</div>
							<input type="hidden" name="category_list_ss"
								th:value="${category_list_ss}" />
							<hr class="my-4" />
							<div class="col-lg-12 col-5 text-right">
								<a th:href="@{/product/add.html}"
									sec:authorize="hasAnyAuthority('Administrators','Staffs')"
									class="btn btn-sm btn-primary">Thêm mới</a> <a
									th:href="@{/category/list.html(category_list_ss=${category_list_ss})}"
									class="btn btn-sm btn-neutral">Làm mới</a>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table align-items-center table-dark table-flush">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col" >Tên</th>
										<th scope="col">Giá</th>	
										<th scope="col">Giảm giá</th>
										<th scope="col">Số lượng</th>
										<th scope="col">Miêu tả</th>
										<th scope="col">Thông tin</th>
										<th scope="col">Trạng thái</th>
										<th scope="col" class="text-center">#</th>
										<th scope="col" class="text-center">#</th>
									</tr>
								</thead>
								<tbody class="list" th:if="${page.content} != null">
									<tr th:each="eachRow, iterStat : ${page}">
										<td class="text-table-body" th:text="${iterStat.count}"></td>
										<td class="text-table-body" th:text="${eachRow.name}"></td>
										<td class="text-table-body"
											th:text="${#numbers.formatDecimal(eachRow.price, 0, 'COMMA', 0,'POINT')}"></td>
										<td class="text-table-body"
											th:text="${#numbers.formatDecimal(eachRow.priceSale, 0, 'COMMA', 0,'POINT')}"></td>
										<td class="text-table-body" th:text="${eachRow.quantity}"></td>
										<td class="text-table-body" th:text="${eachRow.description}"></td>
										<td class="text-table-body" th:text="${eachRow.info}"></td>
										<td class="text-table-body" style="text-align: center;">
											<button class="btn btn-warning"
												th:if="${eachRow.quantity <= 0}"th:utext="#{lable.Outofstock}"></button>
											<button class="btn btn-success"
												th:if="${eachRow.quantity > 0}" th:utext="#{lable.stocking}"></button>
										</td>
										<td scope="row"><a type="button" class="btn btn-warning"
											th:href="@{/product/{id}/update.html(id=${eachRow.id})}" th:utext="#{lable.edit}"></a>

										</td>
										<td scope="row"><a type="button" class="btn btn-danger"
											data-toggle="modal" data-target="#productModal"
											th:onclick="'deleteConfirm(\'' + ${eachRow.name} + '\',\'' + ${eachRow.id} + '\' );'"th:utext="#{lable.delete}"></a>

										</td>

									</tr>

								</tbody>
							</table>
						</div>
						<!-- Card footer -->
						<div class="card-footer py-4">
							<div
								th:replace="fragments/panigatorAdmin :: content(page = ${page})">
							</div>
						</div>
					</div>
				</div>
				<!-- Footer -->
				<!-- <div th:replace="fragments/navAdmin :: footer"></div> -->
			</div>
		</div>
	</div>
	<!-- Argon Scripts -->
	<!-- Core -->

	<!-- Optional JS -->
	<!-- 	<script th:src="@{/assets/vendor/chart.js/dist/Chart.min.js}"></script>
	<script th:src="@{/assets/vendor/chart.js/dist/Chart.extension.js}"></script> -->
	<!-- Argon JS -->
	<div th:replace="fragments/initAdmin :: commonScript"></div>

	<div th:replace="fragments/navAdmin :: modal-delete"></div>





	<script th:inline="javascript">
		/*<![CDATA[*/
		var currUrl = /*[[@{/}]]*/"";
		/*]]>*/
	</script>

	<script type="text/javascript">
		function deleteConfirm(name, key) {
			var id = key;

			$('#modal-title-notification').text('Xác nhận xóa sản phẩm')

			$('#contentDelete').text(
					'Bạn có chắc chắn muốn xóa sản phẩm: ' + key + ' - ' + name
							+ ' không ? Bấm Delete để xác nhận.');

			$('#delete').click(
					function() {
						$.ajax({
							url : window.location.origin + currUrl
									+ 'product/delete/' + id + '/list.html',
							method : 'GET',
							success : function() {
								window.location.href = window.location.origin
										+ currUrl + 'product/list.html';
							}
						});
					});
		}
	</script>
</body>

</html>