<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/initAdmin :: head"></div>

<body>
	<!-- Sidenav -->
	<!-- Sidenav -->
	<!-- Sidenav -->
	<div th:replace="fragments/navAdmin :: slide-bar"></div>
	<!-- Main content -->
	<div class="main-content" id="panel">
		<!-- Topnav -->
		<div th:replace="fragments/navAdmin :: top-nav"></div>
		<!-- Header -->
		<!-- Header -->

		<!-- Page content -->
		<div class="container-fluid mt--6"
			style="margin-top: 25px !important;">
			<div class="row">
				<div class="col-xl-12 order-xl-2">
					<div class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-8">
									<h3 class="mb-0">Edit profile</h3>
								</div>
							</div>
						</div>
						<div class="card-body">
							<form th:action="@{/profile/detail.html}" th:object="${profile}"
								method="POST">
								<div
									th:if="${mapError != null && mapError.containsKey('error') != null}"
									style="text-align: left; color: red; font-weight: bold; font-size: 13px;"
									th:each="err: ${mapError.get('errorProfile')}" th:text="${err}"></div>
								<div class="row">
									<div class="col-sx-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
										<div class="form-group">
											<label for="fir">Họ <span>*</span></label> <input type="text"
												class="form-control" th:field="*{firstName}"
												name="firstName" id="firstName">
											<div
												th:if="${mapError != null && mapError.containsKey('firstName') != null}"
												style="text-align: left; color: red; font-weight: bold; font-size: 13px;"
												th:each="err: ${mapError.get('firstName')}" th:text="${err}"></div>
										</div>
									</div>
									<div class="col-sx-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
										<div class="form-group">
											<label for="lastName">Tên <span>*</span></label> <input
												class="form-control" type="tel" th:field="*{lastName}"
												name="lastName" id="lastName">
											<div
												th:if="${mapError != null && mapError.containsKey('lastName') != null}"
												style="text-align: left; color: red; font-weight: bold; font-size: 13px;"
												th:each="err: ${mapError.get('lastName')}" th:text="${err}"></div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sx-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
										<div class="form-group">
											<label for="lastName">Thành phố</label> <input type="text"
												class="form-control" name="province"
												placeholder="Thành phố..." th:field="*{province}"
												maxlength="64">
										</div>
									</div>
									<div class="col-sx-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
										<div class="form-group">
											<label for="lastName">Quận/Huyện</label> <input type="text"
												class="form-control" name="town" placeholder="Quận/Huyện..."
												th:field="*{town}" maxlength="64">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sx-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
										<div class="form-group">
											<label for="lastName">Giới tính</label> <select
												class="custom-select" name="gender" style="height: 50px;"
												th:field="*{gender}">
												<option value="">Giới tính</option>
												<option value="0">Nam</option>
												<option value="1">Nữ</option>
											</select>
											<div
												th:if="${mapError != null && mapError.containsKey('gender') != null}"
												style="text-align: left; color: red; font-weight: bold; font-size: 13px;"
												th:each="err: ${mapError.get('gender')}" th:text="${err}"></div>
										</div>
									</div>
									<div class="col-sx-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
										<div class="form-group">
											<label for="lastName">Số điện thoại</label> <input
												class="form-control" type="text" name="phone"
												placeholder="Số điện thoại..." th:field="*{phone}"
												maxlength="10">
											<div
												th:if="${mapError != null && mapError.containsKey('phone') != null}"
												style="text-align: left; color: red; font-weight: bold; font-size: 13px;"
												th:each="err: ${mapError.get('phone')}" th:text="${err}"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sx-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
										<div class="form-group">
											<label for="lastName">Ngân hàng</label> <select
												class="custom-select" name="bank" style="height: 50px;"
												th:field="*{bank}">
												<option value="">Ngân hàng</option>
												<option th:each="bank : ${bankInfo}" th:value="${bank.code}"
													th:text="${bank.name}" th:selected="${bank.code==bank}"></option>
											</select>
										</div>
									</div>
									<div class="col-sx-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
										<div class="form-group">
											<label for="lastName">Số tài khoản</label> <input type="text"
												class="form-control" name="atmNumber"
												placeholder="Số tài khoản..." th:field="*{atmNumberBank}"
												maxlength="16">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sx-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
										<div class="form-group">
											<label for="lastName">Địa chỉ</label> <input type="text"
												class="form-control" name="address" placeholder="Địa chỉ..."
												th:field="*{address}" maxlength="256">
										</div>
									</div>
									<div class="col-sx-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
										<div class="form-group">
											<label for="lastName">Email</label> <input type="text"
												class="form-control" name="email" th:field="*{emailUser}"
												placeholder="Email..." readonly="readonly">
										</div>
									</div>
								</div>
								<div class="row  text-right">
									<div class="col-lg-12 col-5">
										<div class="form-group">
											<a th:href="@{/admin/dashboard.html}"
												class="btn btn-sm btn-neutral">Bỏ qua</a>
											<button type="submit" class="btn btn-sm btn-neutral">Lưu</button>

										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer -->

		</div>
	</div>
	<!-- Argon Scripts -->
	<!-- Core -->
	<div th:replace="fragments/initAdmin :: commonScript"></div>
</body>

</html>