<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/initAdmin :: head"></div>
</head>

<body>
	<!-- Sidenav -->
	<!-- Sidenav -->
	<div th:replace="fragments/navAdmin :: slide-bar"></div>
	<!-- Main content -->
	<div class="main-content" id="panel">
		<!-- Topnav -->
		<div th:replace="fragments/navAdmin :: top-nav"></div>
		<!-- Header -->
		<!-- Header -->

		<!-- Page content -->
		<div class="container-fluid mt--6"
			style="margin-top: 25px !important;">

			<!-- Dark table -->
			<div class="row">
				<div class="col">
					<div class="card bg-default shadow">
						<div class="card-header bg-transparent border-0">
							<h3 class="text-white mb-0" th:utext="#{lable.danhmuc}"></h3>
							<hr class="my-4" />
							<div class="col-lg-12 col-5">
								<form role="form" th:action="@{/review/list.html}" method="POST">
									<div class="row">
										<div class="input-daterange datepicker row align-items-center">
											<div class="col">
												<div class="form-group">
													<label class="text-white">Từ ngày</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="ni ni-calendar-grid-58"></i></span>
														</div>
														<input class="form-control" placeholder="Start date"
															type="text" value="06/18/2020" name="from_date"
															id="from_date" th:value="${from_date}">
													</div>
												</div>
											</div>
											<div class="col">
												<div class="form-group">
													<label class="text-white">Đến ngày</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"><i
																class="ni ni-calendar-grid-58"></i></span>
														</div>
														<input class="form-control" placeholder="End date"
															type="text" value="06/22/2020" name="to_date"
															id="to_date" th:value="${to_date}">
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-4 col-12">
											<div>
												<label class="text-white">Tên</label> <input
													class="form-control" id="name" name="name" type="text"
													placeholder="Name" th:value="${name}">
											</div>
										</div>
										<div class="col-lg-2 col-12 text-right">
											<div>
												<label>&nbsp;</label>
												<div>
													<button type="submit" id="btnSearch"
														class="btn btn-primary">Tìm kiếm</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
							<hr class="my-4" />
							<div class="col-lg-12 col-5 text-right">
								<a th:href="@{/review/list.html}" class="btn btn-sm btn-neutral"
									th:utext="#{lable.lammoi}"></a>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table align-items-center table-dark table-flush">
								<thead class="thead-dark">
									<tr>
										<th class="text-table-header">#</th>
										<th class="text-table-header">Tên</th>
										<th class="text-table-header">Email</th>
										<th class="text-table-header">Miêu tả</th>
										<th class="text-table-header">Trạng thái phản hồi</th>
										<th class="text-table-header">Trạng thái</th>
										<th class="text-table-header">#</th>
										<th class="text-table-header">#</th>
										<th class="text-table-header">#</th>
									</tr>
								</thead>
								<tbody th:if="${page}!=null">
									<tr th:each="eachRow,iterStat :${page}">
										<td class="text-table-body" th:text="${iterStat.count}"></td>
										<td class="text-table-body" th:text="${eachRow.name}"></td>
										<td class="text-table-body" th:text="${eachRow.email}"></td>
										<td class="text-table-body" th:text="${eachRow.description}"></td>
										<td class="text-table-body" style="text-align: center;">
											<button class="btn btn-success"
												th:if="${eachRow.reply != null}">Đã phản hồi</button>
											<button class="btn btn-warning"
												th:if="${eachRow.reply == null}">Chưa phản hồi</button>
										</td>
										<td class="text-table-body" style="text-align: center;">
											<button class="btn btn-success"
												th:if="${eachRow.status == 1}">Đã duyệt</button>
											<button class="btn btn-warning"
												th:if="${eachRow.status == 0}">Chưa duyệt</button>
										</td>
										<td class="text-table-body"><a
											th:href="@{/review/reply/{id}/list.html(id=${eachRow.id})}"
											th:if="${eachRow.reply} == null" data-toggle="tooltip"
											title="Phản hồi">
												<button class="btn btn-info btn-circle">
													<i class="fa fa-reply"></i>
												</button>
										</a> <label th:if="${eachRow.reply} != null">&nbsp;</label></td>
										<td class="text-table-body"><a
											th:onclick="'acceptReview(\'' + ${eachRow.name} + '\',\'' + ${eachRow.id} + '\');'"
											th:if="${eachRow.status} == 0" data-toggle="tooltip"
											title="Duyệt">
												<button class="btn btn-info btn-circle">
													<i class="fa fa-check"></i>
												</button>
										</a> <label th:if="${eachRow.status} == 1">&nbsp;</label></td>
										<td><a type="button" class="btn btn-warning" href="#"
											th:onclick="'deleteConfirm(\'' + ${eachRow.name} + '\',\'' + ${eachRow.id} + '\' );'"
											data-toggle="tooltip" title="Xóa Đánh Giá"><i
												class="glyphicon glyphicon-trash"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- Card footer -->
						<div class="card-footer py-4">
							<div
								th:replace="fragments/panigatorAdmin :: content(page = ${page})">
							</div>
						</div>
					</div>
				</div>
				<!-- Footer -->
				<!-- <div th:replace="fragments/navAdmin :: footer"></div> -->
			</div>
		</div>
	</div>
	<!-- Argon Scripts -->
	<!-- Core -->

	<!-- Optional JS -->
	<!-- 	<script th:src="@{/assets/vendor/chart.js/dist/Chart.min.js}"></script>
	<script th:src="@{/assets/vendor/chart.js/dist/Chart.extension.js}"></script> -->
	<!-- Argon JS -->
	<div th:replace="fragments/initAdmin :: commonScript"></div>

	<div th:replace="fragments/navAdmin :: modal-delete"></div>

	<!-- <div id="deleteConfirm-wrapper">
		Modal
		<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p id="name"></p>
						<button id="delete" class="btn btn-sm btn-danger text-right">Delete</button>
						.modal-product
					</div>
					.modal-body
				</div>
				.modal-content
			</div>
			.modal-dialog
		</div>
		END Modal
	</div> -->




	<script th:inline="javascript">
		/*<![CDATA[*/
		var currUrl = /*[[@{/}]]*/"";
		/*]]>*/
	</script>

	<script type="text/javascript">
		function deleteConfirm(name, key) {
			var id = key;

			$('#modal-title-notification').text('Xác nhận xóa đánh giá')

			$('#name').text(
					'Bạn có chắc chắn muốn xóa đánh giá: ' + key + ' - ' + name
							+ ' không ? Bấm Delete để xác nhận.');

			$('#delete').click(
					function() {
						$.ajax({
							url : window.location.origin + currUrl
									+ 'review/delete/' + id + '/list.html',
							method : 'GET',
							success : function() {
								window.location.href = window.location.origin
										+ currUrl + 'review/list.html';
							}
						});
					});
		}
	</script>
</body>

</html>