<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/initHome :: head"></div>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<div th:replace="fragments/navHome :: header"></div>
	<!-- Header End -->

	<!-- Breadcrumb Section Begin -->
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<a th:href="@{/}"><i class="fa fa-home"></i> Trang chủ</a> <span>Blog</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Section Begin -->

	<!-- Blog Section Begin -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1">
					<div class="blog-sidebar">
						<div class="recent-post">
							<h4>Những bài gần đây</h4>
							<div class="recent-blog">
								<a th:href="@{/home/{id}/blogDetail.html(id = ${each.id})}"
									class="rb-item" th:each="each : ${lsBlogDateDesc}">
									<div class="rb-pic">
										<img th:src="${each.mainImg}" alt="" width="80px"
											height="80px">
									</div>
									<div class="rb-text">
										<h6 th:if="${#strings.length(each.title) <= 30}"
											th:text="${each.title}">Phong cách tạo nên cá tính của
											bạn...</h6>
										<h6 th:if="${#strings.length(each.title) > 30}"
											th:text="${#strings.substring(each.title,0,30) + '...'}">Phong
											cách tạo nên cá tính của bạn...</h6>
										<p>
											Ngày đăng <span
												th:text="${#dates.format(each.created, 'dd/MM/yyyy')}">-
												May 19, 2019</span>
										</p>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9 order-1 order-lg-2">
					<div class="row" th:if="${page.content} != null">
						<div class="col-lg-6 col-sm-6" th:each="eachPro : ${page.content}">
							<div class="blog-item">
								<div class="bi-pic">
									<img th:src="${eachPro.mainImg}" alt="">
								</div>
								<div class="bi-text">
									<a th:href="@{/home/{id}/blogDetail.html(id = ${eachPro.id})}">
										<h4 th:text="${eachPro.title}"></h4>
									</a>
									<p>
										Ngày đăng <span
											th:text="${#dates.format(eachPro.created, 'dd/MM/yyyy')}">-
											May 19, 2019</span>
									</p>
								</div>
							</div>
						</div>
						<!-- <div class="col-lg-12">
							<div class="loading-more">
								<i class="icon_loading"></i> <a href="#"> Loading More </a>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Section End -->
	<div th:replace="fragments/panigatorHome :: content(page = ${page})"></div>
	<!-- Partner Logo Section Begin -->
	<div th:replace="fragments/navHome :: partner-logo"></div>
	<!-- Partner Logo Section End -->

	<!-- Footer Section Begin -->
	<div th:replace="fragments/navHome :: footer"></div>
	<!-- Footer Section End -->

	<!-- Js Plugins -->
	<div th:replace="fragments/initHome :: commonScript"></div>
</body>

</html>