<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/initHome :: head"></div>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<div th:replace="fragments/navHome :: header"></div>
	<!-- Header End -->

	<!-- Breadcrumb Section Begin -->
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<a th:href="@{/}"><i class="fa fa-home"></i> Trang chủ</a> <span>Blog</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Section Begin -->

	<!-- Blog Section Begin -->
	<section class="blog-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1">
					<div class="blog-sidebar">
						<div class="recent-post">
							<h4>Những bài gần đây</h4>
							<div class="recent-blog">
								<a href="#" class="rb-item">
									<div class="rb-pic">
										<img th:src="@{/assets/img/blog/phongkhach.jpg}" alt="">
									</div>
									<div class="rb-text">
										<h6>Phong cách tạo nên cá tính của bạn...</h6>
										<p>
											Nội thất <span>- May 19, 2019</span>
										</p>
									</div>
								</a> <a href="#" class="rb-item">
									<div class="rb-pic">
										<img th:src="@{/assets/img/blog/recent-2.jpg}" alt="">
									</div>
									<div class="rb-text">
										<h6>Phong cách tạo nên cá tính của bạn..</h6>
										<p>
											Nội thất <span>- May 19, 2019</span>
										</p>
									</div>
								</a> <a href="#" class="rb-item">
									<div class="rb-pic">
										<img th:src="@{/assets/img/blog/banlamviec.jpg}" alt="">
									</div>
									<div class="rb-text">
										<h6>Phong cách tạo nên cá tính của bạn..</h6>
										<p>
											Nội thất <span>- May 19, 2019</span>
										</p>
									</div>
								</a> <a href="#" class="rb-item">
									<div class="rb-pic">
										<img th:src="@{/assets/img/blog/vanphong.jpg}" alt="">
									</div>
									<div class="rb-text">
										<h6>Phong cách tạo nên cá tính của bạn..</h6>
										<p>
											Nội thất <span>- May 19, 2019</span>
										</p>
									</div>
								</a>
							</div>
						</div>
						<div class="blog-tags">
							<h4>Thẻ sản phẩm</h4>
							<div class="tag-item">
								<a href="#">Phòng khách</a> <a href="#">Giường</a> <a href="#">
									Tủ quẩn áo </a> <a href="#">Phòng bếp</a> <a href="#">Phòng tắm</a>
								<a href="#">Phòng làm việc</a> <a href="#">Văn phòng</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9 order-1 order-lg-2">
					<div class="row">
						<div class="col-lg-6 col-sm-6">
							<div class="blog-item">
								<div class="bi-pic">
									<img th:src="@{/assets/img/blog/phongkhach-1.png}" alt="">
								</div>
								<div class="bi-text">
									<a href="./blog-details.html">
										<h4>Nội thất được cho là su hướng năm nay...</h4>
									</a>
									<p>
										Phòng khách <span>- May 19, 2019</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<div class="blog-item">
								<div class="bi-pic">
									<img th:src="@{/assets/img/blog/phonglamviec-2.jpg}"
										style="height: 291.91px;">
								</div>
								<div class="bi-text">
									<a href="./blog-details.html">
										<h4>Phòng làm việc cho bạn cảm hứng...</h4>
									</a>
									<p>
										Văn phòng <span>- May 19, 2019</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<div class="blog-item">
								<div class="bi-pic">
									<img th:src="@{/assets/img/blog/phongtam-3.jpg}"
										style="height: 291.91px;" alt="">
								</div>
								<div class="bi-text">
									<a href="./blog-details.html">
										<h4>Phòng tắm giúp thư giãn mỗi ngày</h4>
									</a>
									<p>
										Phòng tắm <span>- May 19, 2019</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<div class="blog-item">
								<div class="bi-pic">
									<img th:src="@{/assets/img/blog/phongngu-4.jpg}"
										style="height: 291.91px;" alt="">
								</div>
								<div class="bi-text">
									<a href="./blog-details.html">
										<h4>Giấc ngủ thoải mái và thư giãn...</h4>
									</a>
									<p>
										Phòng ngủ <span>- May 19, 2019</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<div class="blog-item">
								<div class="bi-pic">
									<img th:src="@{/assets/img/blog/phongan-5.jpg}"
										style="height: 291.91px;" alt="">
								</div>
								<div class="bi-text">
									<a href="./blog-details.html">
										<h4>Nơi gia đình quây quần bên nhau...</h4>
									</a>
									<p>
										Phòng ăn <span>- May 19, 2019</span>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<div class="blog-item">
								<div class="bi-pic">
									<img th:src="@{/assets/img/blog/phongnauan-6.jpg}"
										style="height: 291.91px;" alt="">
								</div>
								<div class="bi-text">
									<a href="./blog-details.html">
										<h4>Nơi tình yêu thẻ hiện qua món ăn...</h4>
									</a>
									<p>
										Bếp <span>- May 19, 2019</span>
									</p>
								</div>
							</div>
						</div>
						<!-- <div class="col-lg-12">
							<div class="loading-more">
								<i class="icon_loading"></i> <a href="#"> Loading More </a>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Section End -->

	<!-- Partner Logo Section Begin -->
	<div th:replace="fragments/navHome :: partner-logo"></div>
	<!-- Partner Logo Section End -->

	<!-- Footer Section Begin -->
	<div th:replace="fragments/navHome :: footer"></div>
	<!-- Footer Section End -->

	<!-- Js Plugins -->
	<div th:replace="fragments/initHome :: commonScript"></div>
</body>

</html>