<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div th:replace="fragments/initHome :: head"></div>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<div th:replace="fragments/navHome :: header"></div>
	<!-- Header End -->

	<!-- Breadcrumb Section Begin -->
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text product-more">
						<a th:href="@{/}"><i class="fa fa-home"></i> Home</a> <a
							th:href="@{/home/shop.html}">Shop</a> <span>Shopping Cart</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Section Begin -->

	<!-- Shopping Cart Section Begin -->
	<section class="shopping-cart spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="cart-table">
						<table>
							<thead>
								<tr>
									<th>Image</th>
									<th class="p-name">Product Name</th>
									<th>Price</th>
									<th>Quantity</th>
									<th>Total</th>
									<th><i class="ti-close"></i></th>
								</tr>
							</thead>
							<tbody id="cartInfo">
								<tr th:each="cart : ${session.myCartItems}">
									<td class="cart-pic first-row"><img
										th:src="${cart.value.product.mainImg}" alt=""></td>
									<td class="cart-title first-row"><a
										th:href="@{/home/{id}/single-product.html(id = ${cart.value.product.id})}"><h5
												th:text="${cart.value.product.name}"></h5></a></td>
									<td class="p-price first-row"
										th:id="price+${cart.value.product.id}"><p
											th:if="${cart.value.product.priceSale == 0 || cart.value.product.priceSale == null}"
											th:text="${#numbers.formatDecimal(cart.value.product.price, 0, 'COMMA', 0,'POINT')} + ' VND'"></p>
										<p th:if="${cart.value.product.priceSale != 0}"
											th:text="${#numbers.formatDecimal(cart.value.product.priceSale, 0, 'COMMA', 0,'POINT')} + ' VND'">
										</p></td>
									<!-- <td class="p-price first-row"
										th:id="price+${cart.value.product.id}"
										th:if="${cart.value.product.priceSale != 0 || cart.value.product.priceSale != null}"
										th:text="${#numbers.formatDecimal(cart.value.product.priceSale, 0, 'COMMA', 0,'POINT')}">$60.00</td> -->
									<td class="qua-col first-row">
										<div class="quantity">
											<div class="pro-qty">
												<input type="text" th:id="${cart.value.product.id}" class="qtyInput"
													th:value="${cart.value.quantity}">
											</div>
										</div>
									</td>
									<td class="total-price first-row"><p th:class="subtotal+${cart.value.product.id}"
											class="total-price first-row"
											th:if="${cart.value.product.priceSale == 0 || cart.value.product.priceSale == null}"
											th:with="subtotal=${new java.math.BigDecimal(cart.value.product.price) * new java.math.BigDecimal(cart.value.quantity)}"
											th:text="${#numbers.formatDecimal(subtotal, 0, 'COMMA', 0, 'POINT')}  + ' VND'"></p>
										<p class="total-price first-row" th:class="subtotal+${cart.value.product.id}"
											th:if="${cart.value.product.priceSale != 0}"
											th:with="subtotal=${new java.math.BigDecimal(cart.value.product.priceSale) * new java.math.BigDecimal(cart.value.quantity)}"
											th:text="${#numbers.formatDecimal(subtotal, 0, 'COMMA', 0, 'POINT')}  + ' VND'"></p></td>
									<td class="close-td first-row"><a
										th:onclick="'remove(\'' +  ${cart.value.product.id} + '\')'"><i
											class="ti-close"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<div class="cart-buttons">
								<a th:href="@{/home/shop.html}"
									class="primary-btn continue-shop">Continue shopping</a>
								<!-- <a
									href="#" class="primary-btn up-cart">Update cart</a> -->
							</div>
							<!-- <div class="discount-coupon">
								<h6>Discount Codes</h6>
								<form action="#" class="coupon-form">
									<input type="text" placeholder="Enter your codes">
									<button type="submit" class="site-btn coupon-btn">Apply</button>
								</form>
							</div> -->
						</div>
						<div class="col-lg-4 offset-lg-4">
							<div class="proceed-checkout">
								<ul>
									<li class="subtotal">Subtotal <span class="totalPriceCart"
										th:text="${#numbers.formatDecimal(session.myCartTotal, 0, 'COMMA', 0,'POINT')} + ' VND'">$240.00</span></li>
									<li class="cart-total">Total <span class="totalPriceCart"
										th:text="${#numbers.formatDecimal(session.myCartTotal, 0, 'COMMA', 0,'POINT')} + ' VND'">$240.00</span></li>
								</ul>
								<a th:href="@{/home/checkOut.html}" class="proceed-btn">PROCEED TO CHECK OUT</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Shopping Cart Section End -->

	<!-- Partner Logo Section Begin -->
	<div th:replace="fragments/navHome :: partner-logo"></div>
	<!-- Partner Logo Section End -->

	<!-- Footer Section Begin -->
	<div th:replace="fragments/navHome :: footer"></div>
	<!-- Footer Section End -->

	<!-- Js Plugins -->
	<div th:replace="fragments/initHome :: commonScript"></div>
</body>

</html>