<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/initHome :: head"></div>


<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header Section Begin -->
	<div th:replace="fragments/navHome :: header"></div>
	<!-- Header End -->


	<!-- Breadcrumb Section Begin -->
	<div class="breacrumb-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<a th:href="@{/}"><i class="fa fa-home"></i> Home</a> <span>FAQs</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Section Begin -->

	<!-- Faq Section Begin -->
	<div class="faq-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="faq-accordin">
						<div class="accordion" id="accordionExample">
							<div class="card">
								<div class="card-heading active">
									<a class="active" data-toggle="collapse" data-target="#collapseOne"> Nội thất Rustic
										là gì? </a>
								</div>
								<div id="collapseOne" class="collapse show" data-parent="#accordionExample">
									<div class="card-body">
										<p>Nội thất Rustic là nơi những sản phẩm nội thất được tạo
											ra đơn giản nhưng vẫn tạo ra phong cách cho không gian của
											bạn.</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-heading">
									<a data-toggle="collapse" data-target="#collapseTwo"> Xu
										hướng nội thất lấy từ đâu? </a>
								</div>
								<div id="collapseTwo" class="collapse" data-parent="#accordionExample">
									<div class="card-body">
										<p>Phong cách nội thất được lấy từ những câu hỏi mà chúng
											tôi đã hỏi các khách hàng của mình và họ đã đưa ra những câu
											trả lời.</p>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-heading">
									<a data-toggle="collapse" data-target="#collapseThree">
										Phong cách mà chúng tôi tạo ra? </a>
								</div>
								<div id="collapseThree" class="collapse" data-parent="#accordionExample">
									<div class="card-body">
										<p>Đơn giản nhưng rất tinh tế và phong cách, đơn giản
											nhưng không tối giản.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Faq Section End -->

	<!-- Partner Logo Section Begin -->
	<div th:replace="fragments/navHome :: partner-logo"></div>
	<!-- Partner Logo Section End -->

	<!-- Footer Section Begin -->
	<div th:replace="fragments/navHome :: footer"></div>
	<!-- Footer Section End -->

	<!-- Js Plugins -->
	<div th:replace="fragments/initHome :: commonScript"></div>
</body>

</html>