<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/initAdmin :: head"></div>

<body>
	<!-- Sidenav -->
	<!-- Sidenav -->
	<div th:replace="fragments/navAdmin :: slide-bar"></div>
	<!-- Main content -->
	<div class="main-content" id="panel">
		<!-- Topnav -->
		<div th:replace="fragments/navAdmin :: top-nav"></div>
		<!-- Header -->
		<!-- Header -->

		<!-- Page content -->
		<div class="container-fluid mt--6" style="margin-top: 25px !important;">

			<!-- Dark table -->
			<div class="row">
				<div class="col">
					<div class="card bg-default shadow">
						<div class="card-header bg-transparent border-0">
							<h3 class="text-white mb-0">Danh sách bài viết</h3>
							<hr class="my-4" />
							<div class="col-lg-12 col-5">
								<form role="form" th:action="@{/blog/list.html}" method="POST">
									<div class="row">
										<div class="col-lg-3">
											<label class="text-white">Tiêu đề</label>
											<div>
												<input type="text" placeholder="" name="title" id="title"
													class="form-control" th:value="${title}" />
											</div>
										</div>
										<div class="col-sm-2">
											<label>&nbsp;</label>
											<div>
												<button type="submit" id="btnSearch" class="btn btn-primary">Tìm
													kiếm</button>
											</div>
										</div>
									</div>
								</form>
							</div>
							<input type="hidden" name="category_list_ss" th:value="${category_list_ss}" />
							<hr class="my-4" />
							<div class="col-lg-12 col-5 text-right">
								<a th:href="@{/blog/add.html}"
									sec:authorize="hasAnyAuthority('Administrators','Staffs')"
									class="btn btn-sm btn-primary">Thêm mới</a> <a
									th:href="@{/blog/list.html(category_list_ss=${category_list_ss})}"
									class="btn btn-sm btn-neutral">Làm mới</a>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table align-items-center table-dark table-flush">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Tiêu đề</th>
										<th scope="col">Nội dung chính</th>
										<th scope="col">Ngày tạo</th>
										<th scope="col" class="text-center">#</th>
										<th scope="col" class="text-center">#</th>
									</tr>
								</thead>
								<tbody class="list" th:if="${page.content} != null">
									<tr th:each="eachRow, iterStat : ${page}">
										<td class="text-table-body" th:text="${iterStat.count}"></td>
										<td class="text-table-body" th:text="${eachRow.title}"></td>
										<td class="text-table-body"
											th:if="${eachRow.mainDescription != null && #strings.length(eachRow.mainDescription) <= 30}"
											th:text="${eachRow.mainDescription}"></td>
										<td class="text-table-body"
											th:if="${eachRow.mainDescription != null && #strings.length(eachRow.mainDescription) > 30}"
											th:text="${#strings.substring(eachRow.mainDescription,0,30) + '...'}"></td>
										<td class="text-table-body" th:text="${#dates.format(eachRow.created, 'dd/MM/yyyy')}"></td>
										<td scope="row"><a type="button" class="btn btn-warning"
											th:href="@{/blog/{id}/update.html(id=${eachRow.id})}"
											th:utext="#{lable.edit}"></a></td>
										<td scope="row"><a type="button" class="btn btn-danger"
											data-toggle="modal" data-target="#productModal"
											th:onclick="'deleteConfirm(\'' + ${eachRow.title} + '\',\'' + ${eachRow.id} + '\' );'"
											>Xóa</a></td>

									</tr>

								</tbody>
							</table>
						</div>
						<!-- Card footer -->
						<div class="card-footer py-4">
							<div
								th:replace="fragments/panigatorAdmin :: content(page = ${page})">
							</div>
						</div>
					</div>
				</div>
				<!-- Footer -->
				<!-- <div th:replace="fragments/navAdmin :: footer"></div> -->
			</div>
		</div>
	</div>
	<!-- Argon Scripts -->
	<!-- Core -->

	<!-- Optional JS -->
	<!-- 	<script th:src="@{/assets/vendor/chart.js/dist/Chart.min.js}"></script>
	<script th:src="@{/assets/vendor/chart.js/dist/Chart.extension.js}"></script> -->
	<!-- Argon JS -->
	<div th:replace="fragments/initAdmin :: commonScript"></div>

	<div th:replace="fragments/navAdmin :: modal-delete"></div>





	<script th:inline="javascript">
		/*<![CDATA[*/
		var currUrl = /*[[@{/}]]*/"";
		/*]]>*/
	</script>

	<script type="text/javascript">
		function deleteConfirm(name, key) {
			var id = key;

			$('#modal-title-notification').text('Xác nhận xóa bài viết')

			$('#contentDelete').text(
					'Bạn có chắc chắn muốn xóa bài viết: ' + key + ' - ' + name
							+ ' không ? Bấm XÓA để xác nhận.');

			$('#delete').click(
					function() {
						$.ajax({
							url : window.location.origin + currUrl
									+ 'blog/delete/' + id + '/list.html',
							method : 'GET',
							success : function() {
								window.location.href = window.location.origin
										+ currUrl + 'blog/list.html';
							}
						});
					});
		}
	</script>
</body>

</html>