<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/initAdmin :: head"></div>
</head>

<body>
	<!-- Sidenav -->
	<!-- Sidenav -->
	<div th:replace="fragments/navAdmin :: slide-bar"></div>
	<!-- Main content -->
	<div class="main-content" id="panel">
		<!-- Topnav -->
		<div th:replace="fragments/navAdmin :: top-nav"></div>
		<!-- Header -->
		<!-- Header -->

		<!-- Page content -->
		<div class="container-fluid mt--6" style="margin-top: 25px!important;">

			<!-- Dark table -->
			<div class="row">
				<div class="col">
					<div class="card bg-default shadow">
						<div class="card-header bg-transparent border-0">
							<h3 class="text-white mb-0" th:utext="#{lable.danhmuc}"></h3>
							<hr class="my-4" />
							<div class="col-lg-12 col-5 text-right">
								<form role="form" th:action="@{/category/list.html}"
									method="POST">
									<div class="row">
										<div class="col-lg-8 col-12">
											<div>
												<input class="form-control form-control-sm" id="txtName"
													name="txtName" type="text" 
													th:value="${txtName}">
											</div>
										</div>
										<div class="col-lg-4 col-12">
											<div>
												<button type="submit" id="btnSearch"
													class="btn btn-primary btn-sm" th:utext="#{lable.timkiem}">Tìm kiếm</button>
											</div>
										</div>
									</div>
									<div
										style="text-align: left; color: red; font-weight: bold; font-size: 13px; margin-top: 10px;"
										th:each="err: ${#fields.errors('*')}" th:text="${err}"></div>
								</form>
							</div>
							<input type="hidden" name="category_list_ss"
								th:value="${category_list_ss}" />
							<hr class="my-4" />
							<div class="col-lg-12 col-5 text-right">
								<a th:href="@{/category/0/edit.html}"
									class="btn btn-sm btn-primary"  th:utext="#{lable.themmoi}"></a> <a
									th:href="@{/category/list.html(category_list_ss=${category_list_ss})}"
									class="btn btn-sm btn-neutral" th:utext="#{lable.lammoi}" ></a>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table align-items-center table-dark table-flush">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col" th:utext="#{lable.madanhmuc}" ></th>
										<th scope="col" th:utext="#{lable.tendanhmuc}" ></th>
										<th scope="col" th:utext="#{lable.nhomdanhmuc}">Nhóm danh mục</th>
										<th scope="col" class="text-center">#</th>
										<th scope="col" class="text-center">#</th>
									</tr>
								</thead>
								<tbody class="list" th:if="${page.content} != null">
									<tr th:each="eachRow, iterStat : ${page.content}">
										<th scope="row" th:text="${iterStat.count}"></th>
										<td scope="row" th:text="${eachRow.id}"></td>
										<td scope="row" th:text="${eachRow.name}">
											<!-- <div class="media align-items-center">
												<a href="#" class="avatar rounded-circle mr-3"> <img
													alt="Image placeholder"
													src="../assets/img/theme/bootstrap.jpg">
												</a>
												<div class="media-body">
													<span class="name mb-0 text-sm" class="text-center" ></span>
												</div>
											</div> -->
										</td>

										<td scope="row">
											<div class="d-flex align-items-center"
												th:if="${eachRow.parent != null}">
												<div class="media-body">
													<span class="name mb-0 text-sm"
														th:text="${eachRow.parent.name}"></span>
												</div>
											</div>
										</td>
										<td scope="row"><a type="button" class="btn btn-warning"
											th:href="@{/category/{id}/edit.html(id=${eachRow.id})}"th:utext="#{lable.sua}"></a>

										</td>
										<td scope="row"><a type="button" class="btn btn-danger"
											data-toggle="modal" data-target="#productModal"
											th:onclick="'deleteConfirm(\'' + ${eachRow.id} + '\',\'' + ${eachRow.name} + '\');'" th:utext="#{lable.xoa}"></a>

										</td>
									</tr>

								</tbody>
							</table>
						</div>
						<!-- Card footer -->
						<div class="card-footer py-4">
							<div
								th:replace="fragments/panigatorAdmin :: content(page = ${page})">
							</div>
						</div>
					</div>
				</div>
				<!-- Footer -->
				<!-- <div th:replace="fragments/navAdmin :: footer"></div> -->
			</div>
		</div>
	</div>
	<!-- Argon Scripts -->
	<!-- Core -->

	<!-- Optional JS -->
	<!-- 	<script th:src="@{/assets/vendor/chart.js/dist/Chart.min.js}"></script>
	<script th:src="@{/assets/vendor/chart.js/dist/Chart.extension.js}"></script> -->
	<!-- Argon JS -->
	<div th:replace="fragments/initAdmin :: commonScript"></div>

	<div th:replace="fragments/navAdmin :: modal-delete"></div>

	<!-- <div id="deleteConfirm-wrapper">
		Modal
		<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p id="name"></p>
						<button id="delete" class="btn btn-sm btn-danger text-right">Delete</button>
						.modal-product
					</div>
					.modal-body
				</div>
				.modal-content
			</div>
			.modal-dialog
		</div>
		END Modal
	</div> -->




	<script th:inline="javascript">
		/*<![CDATA[*/
		var currUrl = /*[[@{/}]]*/"";
		/*]]>*/
	</script>

	<script type="text/javascript">
		function deleteConfirm(key, name) {
			var id = key;

			$('#modal-title-notification').text('Xác nhận xóa danh mục')

			$('#name').text(
					'Bạn có chắc chắn muốn xóa danh mục: ' + key + ' - ' + name
							+ ' không ? Bấm Delete để xác nhận.');

			$('#delete').click(
					function() {
						$.ajax({
							url : window.location.origin + currUrl
									+ 'category/delete/' + id + '/list.html',
							method : 'GET',
							success : function() {
								window.location.href = window.location.origin
										+ currUrl + 'category/list.html';
							}
						});
					});
		}
	</script>
</body>

</html>