<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/initAdmin :: head"></div>
</head>

<body>
	<!-- Sidenav -->
	<!-- Sidenav -->
	<div th:replace="fragments/navAdmin :: slide-bar"></div>
	<!-- Main content -->
	<div class="main-content" id="panel">
		<!-- Topnav -->
		<div th:replace="fragments/navAdmin :: top-nav"></div>
		<!-- Header -->
		<!-- Header -->
		<div class="col-xl-8 order-xl-1">
			<div class="card">
				<div class="card-header">
					<div class="row align-items-center">
						<div class="col-8">
							<h3 class="mb-0" th:utext="#{lable.editcategory}">
						</div>

					</div>
				</div>
				<div class="card-body">
					<form th:object="${category}" th:action="@{/category/save.html}"
						method="POST">
						<h6 class="heading-small text-muted mb-4" th:utext="#{lable.thongtintheloai}"></h6>
						<div class="alert alert-danger"
							style="text-align: left; color: red; font-weight: bold; font-size: 13px;"
							th:each="err: ${#fields.errors('*')}" th:text="${err}"></div>
						<div class="pl-lg-4">
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label class="form-control-label" for="input-username" th:utext="#{lable.tendanhmuc}">
										 <font color="red">*</font>
										</label> <input type="text" class="form-control" th:field="*{name}"
											maxlength="64"> <input class="form-control"
											type="hidden" id="form-field-id" th:field="*{id}" />
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label class="form-control-label" for="input-email" th:utext="#{lable.nhomdanhmuc}"></label> <select class="form-control" th:field="*{parent}">
											<option th:value="null"></option>
											<option th:each="cate : ${lstCate}" th:value="${cate.id}"
												th:text="${cate.name}" th:selected="${ cate == parent } "></option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label class="form-control-label" for="input-first-name" th:utext="#{lable.trangthaihoatdong}"></label> <select class="form-control"
											th:field="*{isActive}">
											<option value="Y" th:utext="#{lable.yes}"></option>
											<option value="N" th:utext="#{lable.no}"></option>
										</select>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group" th:if="${date == null}">
										<label class="form-control-label" th:utext="#{lable.ngaytao}"></label> <input
											type="text" name="date" class="form-control"
											th:value="${#calendars.format(#calendars.createNow(), 'dd/MM/yyyy HH:mm:ss')}"
											readonly="readonly">
									</div>
									<div class="form-group" th:if="${date != null}">
										<label class="form-control-label" th:utext="#{lable.ngaytao}"></label> <input
											type="text" name="date" class="form-control"
											th:value="${date}" readonly="readonly">
									</div>
									<div>
										<input class="form-control" type="hidden"
											th:field="*{isDelete}" />
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-5 text-right">
							<a th:href="@{/category/list.html}"
								class="btn btn-sm btn-neutral"   th:utext="#{lable.huybo}">Cancel</a> <button type="submit"
								class="btn btn-sm btn-neutral" th:utext="#{lable.luu}">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/initAdmin :: commonScript"></div>
	<script type="text/javascript">
		$(function() {
			$('#datetimepicker1').datetimepicker({
				defaultDate : new Date(),
				format : 'DD/MM/YYYY HH:mm'
			});
		});
	</script>
</body>
</html>