<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
<div th:replace="fragments/initAdmin :: head"></div>
</head>

<body>
	<!-- Sidenav -->
	<!-- Sidenav -->
	<div th:replace="fragments/navAdmin :: slide-bar"></div>
	<!-- Main content -->
	<div class="main-content" id="panel">
		<!-- Topnav -->
		<div th:replace="fragments/navAdmin :: top-nav"></div>
		<!-- Header -->
		<!-- Header -->

		<!-- Page content -->
		<div class="container-fluid mt--6">

			<!-- Dark table -->
			<div class="row">
				<div class="col">
					<div class="card bg-default shadow">
						<div class="card-header bg-transparent border-0">
							<h3 class="text-white mb-0">Category</h3>
						</div>
						<div class="table-responsive">
							<table class="table align-items-center table-dark table-flush">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Mã danh mục</th>
										<th scope="col">Tên danh mục</th>
										<th scope="col">Nhóm danh mục</th>
										<th scope="col" class="text-center">#</th>
										<th scope="col" class="text-center">#</th>
									</tr>
								</thead>
								<tbody class="list" th:if="${page.content} != null">
									<tr th:each="eachRow, iterStat : ${page.content}">
										<th scope="row" th:text="${iterStat.count}"></th>
										<td scope="row" th:text="${eachRow.id}"></td>
										<td scope="row" th:text="${eachRow.name}">
											<!-- <div class="media align-items-center">
												<a href="#" class="avatar rounded-circle mr-3"> <img
													alt="Image placeholder"
													src="../assets/img/theme/bootstrap.jpg">
												</a>
												<div class="media-body">
													<span class="name mb-0 text-sm" class="text-center" ></span>
												</div>
											</div> -->
										</td>

										<td scope="row">
											<div class="d-flex align-items-center"
												th:if="${eachRow.parent != null}">
												<div class="media-body">
													<span class="name mb-0 text-sm"
														th:text="${eachRow.parent.name}"></span>
												</div>
											</div>
										</td>
										<td scope="row"><a type="button" class="btn btn-warning"
											th:href="@{/category/{id}/edit.html(id=${eachRow.id})}">Edit</a>

										</td>
										<td scope="row"><a type="button"
											class="btn btn-danger" href="#"
											th:onclick="'deleteConfirm(\'' + ${eachRow.id} + '\',\'' + ${eachRow.name} + '\');'">Delete</a>

										</td>
									</tr>

								</tbody>
							</table>
						</div>
						<!-- Card footer -->
						<div class="card-footer py-4">
							<nav aria-label="...">
								<ul class="pagination justify-content-end mb-0">
									<li class="page-item disabled"><a class="page-link"
										href="#" tabindex="-1"> <i class="fas fa-angle-left"></i>
											<span class="sr-only">Previous</span>
									</a></li>
									<li class="page-item active"><a class="page-link" href="#">1</a>
									</li>
									<li class="page-item"><a class="page-link" href="#">2
											<span class="sr-only">(current)</span>
									</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#"> <i
											class="fas fa-angle-right"></i> <span class="sr-only">Next</span>
									</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer -->
			<!-- <div th:replace="fragments/navAdmin :: footer"></div> -->
		</div>
	</div>
	<!-- Argon Scripts -->
	<!-- Core -->

	<!-- Optional JS -->
	<script th:src="@{/assets/vendor/chart.js/dist/Chart.min.js}"></script>
	<script th:src="@{/assets/vendor/chart.js/dist/Chart.extension.js}"></script>
	<!-- Argon JS -->
	<div th:replace="fragments/initAdmin :: commonScript"></div>

	<script type="text/javascript">
		function deleteConfirm(key, name) {
			BootstrapDialog.show({
				title : 'Xác Nhận xóa Tài Khoản',
				message : 'Bạn có chắc chắn muốn xóa danh mục: ' + key + ' - '
						+ name + ' không ? Bấm Delete để xách nhận.',
				buttons : [
						{
							label : 'Bỏ qua',
							action : function(dialogItself) {
								dialogItself.close();
							}
						},
						{
							label : 'Delete',
							cssClass : 'btn-primary',
							action : function(dialogItself) {
								window.location.href = currUrl
										+ 'category/delete/' + key
										+ '/list.html';
							}
						} ]
			});
		}
	</script>
</body>

</html>