<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<meta name="description" content="Fashi Template">
<meta name="keywords" content="Fashi, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Rustic</title>
<link rel="icon" th:href="@{/assets/img/logoRustic.png}"
	type="image/png">
<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/assets/css/elegant-icons.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/assets/css/jquery-ui.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/assets/css/slicknav.min.css}"
	type="text/css">
<link rel="stylesheet" th:href="@{/assets/css/style.css}"
	type="text/css">

</head>
<body>
	<div th:fragment="commonScript">
		<!-- Js Plugins -->
		<script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/assets/js/bootstrap.min.js}"></script>
		<script th:src="@{/assets/js/jquery-ui.min.js}"></script>
		<script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
		<script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/assets/js/jquery.zoom.min.js}"></script>
		<script th:src="@{/assets/js/jquery.dd.min.js}"></script>
		<script th:src="@{/assets/js/jquery.slicknav.js}"></script>
		<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
		<script th:src="@{/assets/js/main.js}"></script>
	</div>
</body>
</html>