<div xmlns:th="http://www.w3.org/1999/xhtml">

	<div th:fragment="partner-logo">
		<div class="partner-logo">
			<div class="container">
				<div class="logo-carousel owl-carousel">
					<div class="logo-item">
						<div class="tablecell-inner">
							<img th:src="@{/static/rank/sat.png}" alt="" width="300%" height="300%">
						</div>
					</div>
					<div class="logo-item">
						<div class="tablecell-inner">
							<img th:src="@{/static/rank/dong.png}" alt="" width="300%" height="300%">
						</div>
					</div>
					<div class="logo-item">
						<div class="tablecell-inner">
							<img th:src="@{/static/rank/bac.png}" alt="" width="300%" height="300%">
						</div>
					</div>
					<div class="logo-item">
						<div class="tablecell-inner">
							<img th:src="@{/static/rank/vang.png}" alt="" width="300%" height="300%">
						</div>
					</div>
					<div class="logo-item">
						<div class="tablecell-inner">
							<img th:src="@{/static/rank/bachkim.png}" alt="" width="300%" height="300%">
						</div>
					</div>
					<div class="logo-item">
						<div class="tablecell-inner">
							<img th:src="@{/static/rank/kimcuong.png}" alt="" width="300%" height="300%">
						</div>
					</div>
					<div class="logo-item">
						<div class="tablecell-inner">
							<img th:src="@{/static/rank/caothu.png}" alt="" width="300%" height="300%">
						</div>
					</div>
					<div class="logo-item">
						<div class="tablecell-inner">
							<img th:src="@{/static/rank/daicaothu.png}" alt="" width="300%" height="300%">
						</div>
					</div>
					<div class="logo-item">
						<div class="tablecell-inner">
							<img th:src="@{/static/rank/thachdau.png}" alt="" width="300%" height="300%">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:fragment="header">
		<script>
			function remove(id) {
				var path = window.location.pathname.split("/")[1];
				$.ajax({
					url: window.location.origin + '/' + path + '/' +
						'cart/remove/' + id + '.html',
					method: 'GET',
				});
				location.reload();

			}
		</script>
		<header class="header-section">
			<div class="header-top">
				<div class="container">
					<div class="ht-left">
						<div class="mail-service">
							<i class=" fa fa-envelope"></i> trilmph05520@fpt.edu.vn
						</div>
						<div class="phone-service">
							<i class=" fa fa-phone"></i> 0983231999
						</div>
					</div>
					<div class="ht-right">
						<a th:if="${session.userLogin == null}" th:href="@{/home/login.html}" class="login-panel">Đăng
							nhập <i class="fa fa-user"></i>
						</a> <a th:if="${session.userLogin != null}" th:href="@{/home/logout.html}" class="login-panel"
							th:utext="#{lable.logout}"><i class="fa fa-user"></i></a> <a
							th:if="${session.userLogin != null}" th:href="@{/home/profile.html}" class="login-panel"
							style="padding-right: 20px;" th:utext="#{lable.profile}"><i class="fa fa-user"></i></a>

						<div class="top-social">
							<a href="https://www.facebook.com/mt.minhtri" target="blank"><i class="ti-facebook"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="inner-header">
					<div class="row">
						<div class="col-lg-2 col-md-2">
							<div class="logo">
								<a th:href="@{/}"> <img th:src="@{/assets/img/logoRustic.png}" width="88px"
										height="23px" alt="">
								</a>
							</div>
						</div>
						<div class="col-lg-7 col-md-7">

							<form th:action="@{/home/search.html}" method="POST">
								<div class="advanced-search">
									<button type="button" class="category-btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tìm
										kiếm &nbsp;&nbsp;</button>
									<div class="input-group">
										<input type="text" name="name" placeholder="Bạn cần gì?"
											th:value="${session.search}">
										<button type="submit">
											<i class="ti-search"></i>
										</button>
									</div>
								</div>
							</form>

						</div>
						<div class="col-lg-3 text-right col-md-3">
							<ul class="nav-right">
								<li class="cart-icon"><a th:href="@{/home/cart.html}">
										<i class="icon_bag_alt"></i> <span class="cart-quantity"
											th:if="${session.myCartNum != 0}" th:text="${session.myCartNum}">3</span>
										<span class="cart-quantity"
											th:if="${session.myCartNum == null || session.myCartNum==0}">0</span>
									</a>
									<div class="cart-hover"
										th:if="${session.myCartItems != null} and ${session.myCartTotal != 0}">
										<div class="select-items">
											<table>
												<tbody>
													<tr th:each="cart : ${session.myCartItems}">
														<td class="si-pic"><a
																th:href="@{/home/{id}/single-product.html(id = ${cart.value.product.id})}"><img
																	th:src="|${cart.value.product.mainImg}|" alt=""
																	width="72px" height="72px"></a></td>
														<td class="si-text">
															<div class="product-selected">
																<a
																	th:href="@{/home/{id}/single-product.html(id = ${cart.value.product.id})}">
																	<h6 th:text="|${cart.value.product.name}|">Kabino
																		Bedside Table</h6>
																</a>
																<p th:class="subtotal+${cart.value.product.id}"
																	th:if="${cart.value.product.priceSale == 0 || cart.value.product.priceSale == null}"
																	th:text="|${#numbers.formatDecimal(new java.math.BigDecimal(cart.value.product.price) * new java.math.BigDecimal(cart.value.quantity), 0, 'COMMA', 0,'POINT')} VND|">
																	$60.00 x 1</p>
																<p th:class="subtotal+${cart.value.product.id}"
																	th:if="${cart.value.product.priceSale != 0}"
																	th:text="|${#numbers.formatDecimal(new java.math.BigDecimal(cart.value.product.priceSale) * new java.math.BigDecimal(cart.value.quantity), 0, 'COMMA', 0,'POINT')} VND|">
																	$60.00 x 1</p>
																<p>
																	<span><strong>SL: </strong></span> <span
																		th:class="quantitycart+${cart.value.product.id}"
																		th:text="|${cart.value.quantity}|"></span>
																</p>
															</div>
														</td>
														<td class="si-close"><a
															th:onclick="'remove(\'' +  ${cart.value.product.id} + '\')'"><i
																class="ti-close"></i></a></td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="select-total">
											<span>total:</span>
											<h5 id="totalPriceCart"
												th:text="${#numbers.formatDecimal(session.myCartTotal, 0, 'COMMA', 0,'POINT')} + ' VND'">
												$120.00</h5>
										</div>
										<div class="select-button">
											<a th:href="@{/home/cart.html}" class="primary-btn view-card">VIEW
												CARD</a> <a th:href="@{/home/checkOut.html}"
												class="primary-btn checkout-btn">CHECK OUT</a>
										</div>
									</div></li>

								<!-- <li class="cart-price">$150.00</li> -->
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="nav-item">
				<div class="container">
					<div class="nav-depart">
						<div class="depart-btn">

							<i class="ti-menu"><span>Danh mục</span></i>
							<ul class="depart-hover"
								th:if="${session.categoryNav != null && session.categoryNav.size() > 10}"
								style="height: 400px; overflow-y: scroll;">
								<li th:each="eachCate : ${session.categoryNav}"><span
									th:each="cateChilren : ${eachCate.value[1]}"> <a
										th:href="@{/home/{id}/product.html(id=${cateChilren[0]})}"
										th:text="${cateChilren[1]}">Iphone</a>
								</span></li>

							</ul>

							<ul class="depart-hover"
								th:if="${session.categoryNav != null && session.categoryNav.size() < 10}">
								<li th:each="eachCate : ${session.categoryNav}"><span
									th:each="cateChilren : ${eachCate.value[1]}"> <a
										th:href="@{/home/{id}/product.html(id=${cateChilren[0]})}"
										th:text="${cateChilren[1]}">Iphone</a>
								</span></li>

							</ul>
						</div>
					</div>
					<nav class="nav-menu mobile-menu">
						<ul>
							<li><a th:href="@{/}">Trang chủ</a></li>
							<li><a th:href="@{/home/shop.html}">Shop</a></li>
							<li><a>Bộ sưu tập</a>
								<ul class="dropdown" style="height: 400px; overflow-y: scroll;"
									th:if="${session.categoryNavPr != null && session.categoryNavPr.size() > 10}">
									<li th:each="eachCatePr : ${session.categoryNavPr}"><a
										th:href="@{/home/{id}/product.html(id=${eachCatePr.id})}"
										th:text="${eachCatePr.name}">Iphone</a></li>
								</ul>
								<ul class="dropdown"
									th:if="${session.categoryNavPr != null && session.categoryNavPr.size() < 10}">
									<li th:each="eachCatePr : ${session.categoryNavPr}"><a
										th:href="@{/home/{id}/list/product.html(id=${eachCatePr.id})}"
										th:text="${eachCatePr.name}">Iphone</a></li>
								</ul></li>

							<li><a th:href="@{/home/blog.html}">Blog</a></li>
							<li><a th:href="@{/home/contact.html}">Liên hệ</a></li>
							<li><a href="#">Trang</a>
								<ul class="dropdown">
									<li><a th:href="@{/home/faq.html}">FAQ</a></li>
									<li><a th:href="@{/home/register.html}">Đăng ký</a></li>
									<li><a th:href="@{/home/login.html}">Đăng nhập</a></li>
								</ul></li>
						</ul>
					</nav>
					<div id="mobile-menu-wrap"></div>
				</div>
			</div>
		</header>
	</div>


	<div th:fragment="footer">
		<footer class="footer-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="footer-left">
							<div class="footer-logo">
								<a href="#"><img th:src="@{/assets/img/logoRustic.png}"
									width="88px" height="23px" alt=""></a>
							</div>
							<ul>
								<li>Địa chỉ: Xuân La, Tây Hồ,Hà Nội</li>
								<li>Số điện thoại: 0983231999</li>
								<li>Email: trilmph05520@fpt.edu.vn</li>
							</ul>
							<div class="footer-social">
								<a href="https://www.facebook.com/mt.minhtri"><i
									class="fa fa-facebook"></i></a> <a href="#"><i
									class="fa fa-instagram"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright-reserved">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="copyright-text">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>
									document.write(new Date().getFullYear());
								</script>
							</div>
							<div class="payment-pic">
								<img th:src="@{/assets/img/Text-QR-2.png}" width="50%"
									height="50%" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- START QUICKVIEW PRODUCT -->
	<div id="quickview-wrapper" th:fragment="quickview">
		<input type="hidden" th:value="@{/}" id="path" />
		<!-- Modal -->
		<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Chi tiết sản phẩm</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="modal-product clearfix">
							<div class="row">
								<div
									class="product-images col-sx-12 col-sm-6 col-lg-6 col-md-6 col-xl-6">
									<div class="main-image images">
										<img alt="" src="" id="imageQuick">
									</div>
								</div>
								<!-- .product-images -->
								<div
									class="product-info col-sx-12 col-sm-6 col-lg-6 col-md-6 col-xl-6">
									<h4 id="nameQuick">SamSung A50</h4>
									<div class="price-box-3">
										<div class="s-price-box">
											Giá : <span class="new-price" id="price_sale"></span> <span
												class="old-price" id="price"></span>
										</div>
									</div>
									Trạng thái : <label id="status" class="see-all"></label>
									<div class="quick-add-to-cart">
										<a href="#" class="primary-btn pd-cart" id="quickCart"
											type="submit">Thêm vào giỏ hàng</a>
									</div>
									<div class="quick-desc" id="info" style="overflow: hidden;">Hello, Every body.</div>
								</div>
								<!-- .product-info -->
							</div>
							<!-- .modal-product -->
						</div>
					</div>
					<!-- .modal-body -->
				</div>
				<!-- .modal-content -->
			</div>
			<!-- .modal-dialog -->
		</div>
		<!-- END Modal -->
	</div>
	<!-- END QUICKVIEW PRODUCT -->

</div>