.wrap-custom-file {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 10px 10px 5px 20px;
	text-align: center;
}

.wrap-custom-file input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	overflow: hidden;
	opacity: 0;
}

.wrap-custom-file label {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	overflow: hidden;
	padding: 0 0.5rem;
	cursor: pointer;
	background-color: #fff;
	border-radius: 4px;
	-webkit-transition: -webkit-transform 0.4s;
	transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s, -webkit-transform 0.4s;
}

.wrap-custom-file label span {
	display: block;
	margin-top: 2rem;
	font-size: 1.4rem;
	color: #777;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.wrap-custom-file label:hover {
	-webkit-transform: translateY(-0.5rem);
	transform: translateY(-0.5rem);
	transition: transform .5s, box-shadow .5s;
	box-shadow: 2px 2px 5px #b1b1b1;
}

.wrap-custom-file label:hover span {
	color: #333;
}

.wrap-custom-file label {
	background-size: cover;
	background-position: center;
	border: 1px dashed cornflowerblue;
	border-radius: 10px;
	/*box-shadow: 2px 2px 5px #cdcdcd;*/
}

.wrap-custom-file label.file-ok {
	border: none;
	box-shadow: 2px 2px 5px #b1b1b1;
}

.wrap-custom-file label.file-ok span {
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0.3rem;
	font-size: 1.1rem;
	color: #6a0700;
	background-color: rgba(255, 255, 255, 0.7);
}

/*---------end upload ảnh--------*/
.wrap-custom-fileadd {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 10px 10px 5px 20px;
	text-align: center;
}

.wrap-custom-fileadd input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 2px;
	overflow: hidden;
	opacity: 0;
}

.wrap-custom-fileadd label {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	overflow: hidden;
	padding: 0 0.5rem;
	background-color: #fff;
	border-radius: 4px;
	-webkit-transition: -webkit-transform 0.4s;
	transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s, -webkit-transform 0.4s;
}

.wrap-custom-fileadd label span {
	display: block;
	margin-top: 2rem;
	font-size: 1.4rem;
	color: #777;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
}

.wrap-custom-fileadd label:hover {
	-webkit-transform: translateY(-0.5rem);
	transform: translateY(-0.5rem);
	transition: transform .5s, box-shadow .5s;
	box-shadow: 2px 2px 5px #b1b1b1;
}

.wrap-custom-fileadd label:hover span {
	color: #333;
}

.wrap-custom-fileadd label {
	background-size: cover;
	background-position: center;
	border: 1px dashed cornflowerblue;
	border-radius: 10px;
}

.wrap-custom-fileadd label.file-ok {
	border: none;
	box-shadow: 2px 2px 5px #b1b1b1;
}

.wrap-custom-fileadd label.file-ok span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0.3rem;
	font-size: 1.1rem;
	color: #6a0700;
	background-color: rgba(255, 255, 255, 0.7);
}

.title-hinhanh-chi-tiet {
	width: 100%;
	height: 46px;
	border-bottom: 1px solid #E8E8E8;
}

.title-hinhanh-chi-tiet h5 {
	font-size: 20px;
	margin-left: 20px;
	line-height: 46px;
	margin-top: 10px;
	font-weight: 500;
	margin-top: 5px;
}

.row-card-hinhanh-chit-tiet .group-hinhanh {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

.removeIMG {
	font-size: 13px !important;
	margin-top: 40px !important;
}

.removeIMGAdd {
	font-size: 13px !important;
}

.detail-step.row-card-hinhanh-chit-tiet .wrap-custom-file label:hover {
	background: #aaaaaa !important;
}

.detail-step.row-card-hinhanh-chit-tiet .wrap-custom-file[id^="idSubImage_"] label:hover span
	{
	display: block !important;
}

.detail-step.row-card-hinhanh-chit-tiet .wrap-custom-file[id^="idAddSubImage_"] label:hover span
	{
	display: block !important;
}